
	code for sm_89
	.target	sm_89

		Function : probe_cp_async_pipeline
	.headerflags	@"EF_CUDA_SM89 EF_CUDA_VIRTUAL_SM(EF_CUDA_SM89)"
        /*0000*/                   IMAD.MOV.U32 R1, RZ, RZ, c[0x0][0x28] ;       /* 0x00000a00ff017624 */
                                                                                 /* 0x000fe400078e00ff */
        /*0010*/                   S2R R0, SR_TID.X ;                            /* 0x0000000000007919 */
                                                                                 /* 0x000e620000002100 */
        /*0020*/                   MOV R11, c[0x0][0x170] ;                      /* 0x00005c00000b7a02 */
                                                                                 /* 0x000fe20000000f00 */
        /*0030*/                   ULDC.64 UR6, c[0x0][0x118] ;                  /* 0x0000460000067ab9 */
                                                                                 /* 0x000fe20000000a00 */
        /*0040*/                   MOV R7, 0x4 ;                                 /* 0x0000000400077802 */
                                                                                 /* 0x000fe40000000f00 */
        /*0050*/                   ISETP.GE.AND P0, PT, R11, 0x2, PT ;           /* 0x000000020b00780c */
                                                                                 /* 0x000fe20003f06270 */
        /*0060*/                   IMAD.SHL.U32 R9, R0.reuse, 0x4, RZ ;          /* 0x0000000400097824 */
                                                                                 /* 0x042fe400078e00ff */
        /*0070*/                   IMAD.WIDE R2, R0, R7, c[0x0][0x168] ;         /* 0x00005a0000027625 */
                                                                                 /* 0x000fca00078e0207 */
        /*0080*/                   LDGSTS.E [R9], [R2.64] ;                      /* 0x0000000002097fae */
                                                                                 /* 0x0003e8000b921846 */
        /*0090*/                   LDGDEPBAR ;                                   /* 0x00000000000079af */
                                                                                 /* 0x000e220000000000 */
        /*00a0*/              @!P0 BRA 0x710 ;                                   /* 0x0000066000008947 */
                                                                                 /* 0x000fea0003800000 */
        /*00b0*/                   IADD3 R4, R11.reuse, -0x2, RZ ;               /* 0xfffffffe0b047810 */
                                                                                 /* 0x040fe20007ffe0ff */
        /*00c0*/                   UMOV UR5, 0x1 ;                               /* 0x0000000100057882 */
                                                                                 /* 0x000fe20000000000 */
        /*00d0*/                   IADD3 R6, R11, -0x1, RZ ;                     /* 0xffffffff0b067810 */
                                                                                 /* 0x000fe40007ffe0ff */
        /*00e0*/                   ISETP.GE.U32.AND P1, PT, R4, 0x3, PT ;        /* 0x000000030400780c */
                                                                                 /* 0x000fe40003f26070 */
        /*00f0*/                   LOP3.LUT R6, R6, 0x3, RZ, 0xc0, !PT ;         /* 0x0000000306067812 */
                                                                                 /* 0x000fc800078ec0ff */
        /*0100*/                   ISETP.NE.AND P0, PT, R6, RZ, PT ;             /* 0x000000ff0600720c */
                                                                                 /* 0x000fce0003f05270 */
        /*0110*/              @!P1 BRA 0x540 ;                                   /* 0x0000042000009947 */
                                                                                 /* 0x000fec0003800000 */
        /*0120*/                   IADD3 R16, R6, -c[0x0][0x170], RZ ;           /* 0x80005c0006107a10 */
                                                                                 /* 0x000fe20007ffe0ff */
        /*0130*/                   IMAD.MOV.U32 R17, RZ, RZ, 0x200 ;             /* 0x00000200ff117424 */
                                                                                 /* 0x000fe200078e00ff */
        /*0140*/                   MOV R8, R0 ;                                  /* 0x0000000000087202 */
                                                                                 /* 0x000fe20000000f00 */
        /*0150*/                   UMOV UR5, 0x1 ;                               /* 0x0000000100057882 */
                                                                                 /* 0x000fc60000000000 */
        /*0160*/                   IADD3 R12, R8.reuse, 0x80, RZ ;               /* 0x00000080080c7810 */
                                                                                 /* 0x040fe20007ffe0ff */
        /*0170*/                   UIADD3 UR5, UR5, 0x4, URZ ;                   /* 0x0000000405057890 */
                                                                                 /* 0x000fe2000fffe03f */
        /*0180*/                   IADD3 R14, R8, 0x100, RZ ;                    /* 0x00000100080e7810 */
                                                                                 /* 0x000fc60007ffe0ff */
        /*0190*/                   IMAD.WIDE R12, R12, R7, c[0x0][0x168] ;       /* 0x00005a000c0c7625 */
                                                                                 /* 0x000fc800078e0207 */
        /*01a0*/                   IMAD.WIDE R14, R14, R7, c[0x0][0x168] ;       /* 0x00005a000e0e7625 */
                                                                                 /* 0x000fe200078e0207 */
        /*01b0*/              @!PT LDS RZ, [RZ] ;                                /* 0x00000000fffff984 */
                                                                                 /* 0x000fe20000000800 */
        /*01c0*/              @!PT LDS RZ, [RZ] ;                                /* 0x00000000fffff984 */
                                                                                 /* 0x000fe20000000800 */
        /*01d0*/              @!PT LDS RZ, [RZ] ;                                /* 0x00000000fffff984 */
                                                                                 /* 0x000fe20000000800 */
        /*01e0*/                   LDGSTS.E [R9+0x200], [R12.64] ;               /* 0x002000000c097fae */
                                                                                 /* 0x0005e8000b921846 */
        /*01f0*/                   LDGDEPBAR ;                                   /* 0x00000000000079af */
                                                                                 /* 0x000e220000000000 */
        /*0200*/                   IADD3 R13, R17, -0x80, RZ ;                   /* 0xffffff80110d7810 */
                                                                                 /* 0x004fca0007ffe0ff */
        /*0210*/                   IMAD.WIDE R12, R13, 0x4, R2 ;                 /* 0x000000040d0c7825 */
                                                                                 /* 0x000fe200078e0202 */
        /*0220*/                   DEPBAR.LE SB0, 0x1 ;                          /* 0x000080400000791a */
                                                                                 /* 0x000fc80000000000 */
        /*0230*/                   BAR.SYNC.DEFER_BLOCKING 0x0 ;                 /* 0x0000000000007b1d */
                                                                                 /* 0x000fec0000010000 */
        /*0240*/                   LDS R4, [R0.X4] ;                             /* 0x0000000000047984 */
                                                                                 /* 0x000ea40000004800 */
        /*0250*/                   FADD R10, R4, R4 ;                            /* 0x00000004040a7221 */
                                                                                 /* 0x004fe20000000000 */
        /*0260*/                   IMAD.WIDE R4, R8.reuse, R7, c[0x0][0x160] ;   /* 0x0000580008047625 */
                                                                                 /* 0x040fe200078e0207 */
        /*0270*/                   IADD3 R8, R8, 0x200, RZ ;                     /* 0x0000020008087810 */
                                                                                 /* 0x000fc40007ffe0ff */
        /*0280*/                   FADD R19, R10, 1 ;                            /* 0x3f8000000a137421 */
                                                                                 /* 0x000fca0000000000 */
        /*0290*/                   STG.E [R4.64], R19 ;                          /* 0x0000001304007986 */
                                                                                 /* 0x000fe8000c101906 */
        /*02a0*/                   BAR.SYNC.DEFER_BLOCKING 0x0 ;                 /* 0x0000000000007b1d */
                                                                                 /* 0x000fec0000010000 */
        /*02b0*/              @!PT LDS RZ, [RZ] ;                                /* 0x00000000fffff984 */
                                                                                 /* 0x000fe20000000800 */
        /*02c0*/              @!PT LDS RZ, [RZ] ;                                /* 0x00000000fffff984 */
                                                                                 /* 0x000fe20000000800 */
        /*02d0*/              @!PT LDS RZ, [RZ] ;                                /* 0x00000000fffff984 */
                                                                                 /* 0x000fe20000000800 */
        /*02e0*/                   LDGSTS.E [R9], [R14.64] ;                     /* 0x000000000e097fae */
                                                                                 /* 0x0005e8000b921846 */
        /*02f0*/                   LDGDEPBAR ;                                   /* 0x00000000000079af */
                                                                                 /* 0x000e220000000000 */
        /*0300*/                   IMAD.WIDE R14, R17.reuse, 0x4, R2 ;           /* 0x00000004110e7825 */
                                                                                 /* 0x044fe200078e0202 */
        /*0310*/                   IADD3 R17, R17, 0x200, RZ ;                   /* 0x0000020011117810 */
                                                                                 /* 0x000fe20007ffe0ff */
        /*0320*/                   DEPBAR.LE SB0, 0x1 ;                          /* 0x000080400000791a */
                                                                                 /* 0x000fc80000000000 */
        /*0330*/                   BAR.SYNC.DEFER_BLOCKING 0x0 ;                 /* 0x0000000000007b1d */
                                                                                 /* 0x000fec0000010000 */
        /*0340*/                   LDS R10, [R0.X4+0x200] ;                      /* 0x00020000000a7984 */
                                                                                 /* 0x000ea40000004800 */
        /*0350*/                   FADD R10, R10, R10 ;                          /* 0x0000000a0a0a7221 */
                                                                                 /* 0x004fc80000000000 */
        /*0360*/                   FADD R21, R10, 1 ;                            /* 0x3f8000000a157421 */
                                                                                 /* 0x000fca0000000000 */
        /*0370*/                   STG.E [R4.64+0x200], R21 ;                    /* 0x0002001504007986 */
                                                                                 /* 0x000fe8000c101906 */
        /*0380*/                   BAR.SYNC.DEFER_BLOCKING 0x0 ;                 /* 0x0000000000007b1d */
                                                                                 /* 0x000fec0000010000 */
        /*0390*/              @!PT LDS RZ, [RZ] ;                                /* 0x00000000fffff984 */
                                                                                 /* 0x000fe20000000800 */
        /*03a0*/              @!PT LDS RZ, [RZ] ;                                /* 0x00000000fffff984 */
                                                                                 /* 0x000fe20000000800 */
        /*03b0*/              @!PT LDS RZ, [RZ] ;                                /* 0x00000000fffff984 */
                                                                                 /* 0x000fe20000000800 */
        /*03c0*/                   LDGSTS.E [R9+0x200], [R12.64] ;               /* 0x002000000c097fae */
                                                                                 /* 0x0005e8000b921846 */
        /*03d0*/                   LDGDEPBAR ;                                   /* 0x00000000000079af */
                                                                                 /* 0x000e220000000000 */
        /*03e0*/                   DEPBAR.LE SB0, 0x1 ;                          /* 0x000080400000791a */
                                                                                 /* 0x000fc80000000000 */
        /*03f0*/                   BAR.SYNC.DEFER_BLOCKING 0x0 ;                 /* 0x0000000000007b1d */
                                                                                 /* 0x000fec0000010000 */
        /*0400*/                   LDS R10, [R0.X4] ;                            /* 0x00000000000a7984 */
                                                                                 /* 0x000ee40000004800 */
        /*0410*/                   FADD R10, R10, R10 ;                          /* 0x0000000a0a0a7221 */
                                                                                 /* 0x008fc80000000000 */
        /*0420*/                   FADD R19, R10, 1 ;                            /* 0x3f8000000a137421 */
                                                                                 /* 0x000fca0000000000 */
        /*0430*/                   STG.E [R4.64+0x400], R19 ;                    /* 0x0004001304007986 */
                                                                                 /* 0x000fe8000c101906 */
        /*0440*/                   BAR.SYNC.DEFER_BLOCKING 0x0 ;                 /* 0x0000000000007b1d */
                                                                                 /* 0x000fec0000010000 */
        /*0450*/              @!PT LDS RZ, [RZ] ;                                /* 0x00000000fffff984 */
                                                                                 /* 0x000fe20000000800 */
        /*0460*/              @!PT LDS RZ, [RZ] ;                                /* 0x00000000fffff984 */
                                                                                 /* 0x000fe20000000800 */
        /*0470*/              @!PT LDS RZ, [RZ] ;                                /* 0x00000000fffff984 */
                                                                                 /* 0x000fe20000000800 */
        /*0480*/                   LDGSTS.E [R9], [R14.64] ;                     /* 0x000000000e097fae */
                                                                                 /* 0x0007e8000b921846 */
        /*0490*/                   LDGDEPBAR ;                                   /* 0x00000000000079af */
                                                                                 /* 0x000e220000000000 */
        /*04a0*/                   DEPBAR.LE SB0, 0x1 ;                          /* 0x000080400000791a */
                                                                                 /* 0x000fc80000000000 */
        /*04b0*/                   BAR.SYNC.DEFER_BLOCKING 0x0 ;                 /* 0x0000000000007b1d */
                                                                                 /* 0x000fec0000010000 */
        /*04c0*/                   LDS R10, [R0.X4+0x200] ;                      /* 0x00020000000a7984 */
                                                                                 /* 0x000f240000004800 */
        /*04d0*/                   FADD R10, R10, R10 ;                          /* 0x0000000a0a0a7221 */
                                                                                 /* 0x010fc80000000000 */
        /*04e0*/                   FADD R13, R10, 1 ;                            /* 0x3f8000000a0d7421 */
                                                                                 /* 0x004fe20000000000 */
        /*04f0*/                   IADD3 R10, R16, UR5, RZ ;                     /* 0x00000005100a7c10 */
                                                                                 /* 0x000fc8000fffe0ff */
        /*0500*/                   ISETP.NE.AND P1, PT, R10, RZ, PT ;            /* 0x000000ff0a00720c */
                                                                                 /* 0x000fe20003f25270 */
        /*0510*/                   STG.E [R4.64+0x600], R13 ;                    /* 0x0006000d04007986 */
                                                                                 /* 0x0007e8000c101906 */
        /*0520*/                   BAR.SYNC.DEFER_BLOCKING 0x0 ;                 /* 0x0000000000007b1d */
                                                                                 /* 0x000ff00000010000 */
        /*0530*/               @P1 BRA 0x160 ;                                   /* 0xfffffc2000001947 */
                                                                                 /* 0x008fea000383ffff */
        /*0540*/              @!P0 BRA 0x710 ;                                   /* 0x000001c000008947 */
                                                                                 /* 0x000fea0003800000 */
        /*0550*/                   USHF.L.U32 UR4, UR5, 0x7, URZ ;               /* 0x0000000705047899 */
                                                                                 /* 0x000fcc000800063f */
        /*0560*/                   IMAD.U32 R5, RZ, RZ, UR4 ;                    /* 0x00000004ff057e24 */
                                                                                 /* 0x000fe2000f8e00ff */
        /*0570*/                   MOV R15, UR4 ;                                /* 0x00000004000f7c02 */
                                                                                 /* 0x000fc80008000f00 */
        /*0580*/                   IADD3 R8, R0, -0x80, R5 ;                     /* 0xffffff8000087810 */
                                                                                 /* 0x000fe40007ffe005 */
        /*0590*/                   USHF.L.U32 UR4, UR5, 0x9, URZ ;               /* 0x0000000905047899 */
                                                                                 /* 0x000fe2000800063f */
        /*05a0*/                   IMAD.WIDE R4, R15.reuse, 0x4, R2 ;            /* 0x000000040f047825 */
                                                                                 /* 0x044fe200078e0202 */
        /*05b0*/                   IADD3 R6, R6, -0x1, RZ ;                      /* 0xffffffff06067810 */
                                                                                 /* 0x000fe20007ffe0ff */
        /*05c0*/                   UIADD3 UR5, UR5, 0x1, URZ ;                   /* 0x0000000105057890 */
                                                                                 /* 0x000fe2000fffe03f */
        /*05d0*/                   IADD3 R15, R15, 0x80, RZ ;                    /* 0x000000800f0f7810 */
                                                                                 /* 0x000fe20007ffe0ff */
        /*05e0*/                   ULOP3.LUT UR4, UR4, 0x200, URZ, 0xc0, !UPT ;  /* 0x0000020004047892 */
                                                                                 /* 0x000fe2000f8ec03f */
        /*05f0*/                   ISETP.NE.AND P0, PT, R6, RZ, PT ;             /* 0x000000ff0600720c */
                                                                                 /* 0x000fe20003f05270 */
        /*0600*/                   IMAD.WIDE R12, R8.reuse, R7, c[0x0][0x160] ;  /* 0x00005800080c7625 */
                                                                                 /* 0x040fe200078e0207 */
        /*0610*/                   IADD3 R8, R8, 0x80, RZ ;                      /* 0x0000008008087810 */
                                                                                 /* 0x000fc60007ffe0ff */
        /*0620*/                   IADD3 R17, R9, UR4, RZ ;                      /* 0x0000000409117c10 */
                                                                                 /* 0x000fe2000fffe0ff */
        /*0630*/                   ULOP3.LUT UR4, UR4, 0x200, URZ, 0x3c, !UPT ;  /* 0x0000020004047892 */
                                                                                 /* 0x000fc8000f8e3c3f */
        /*0640*/              @!PT LDS RZ, [RZ] ;                                /* 0x00000000fffff984 */
                                                                                 /* 0x000fe20000000800 */
        /*0650*/              @!PT LDS RZ, [RZ] ;                                /* 0x00000000fffff984 */
                                                                                 /* 0x000fe20000000800 */
        /*0660*/              @!PT LDS RZ, [RZ] ;                                /* 0x00000000fffff984 */
                                                                                 /* 0x000fe20000000800 */
        /*0670*/                   LDGSTS.E [R17], [R4.64] ;                     /* 0x0000000004117fae */
                                                                                 /* 0x0005e8000b921846 */
        /*0680*/                   LDGDEPBAR ;                                   /* 0x00000000000079af */
                                                                                 /* 0x000e220000000000 */
        /*0690*/                   DEPBAR.LE SB0, 0x1 ;                          /* 0x000080400000791a */
                                                                                 /* 0x000fc80000000000 */
        /*06a0*/                   BAR.SYNC.DEFER_BLOCKING 0x0 ;                 /* 0x0000000000007b1d */
                                                                                 /* 0x000fec0000010000 */
        /*06b0*/                   LDS R10, [R9+UR4] ;                           /* 0x00000004090a7984 */
                                                                                 /* 0x000ee40008000800 */
        /*06c0*/                   FADD R10, R10, R10 ;                          /* 0x0000000a0a0a7221 */
                                                                                 /* 0x008fc80000000000 */
        /*06d0*/                   FADD R19, R10, 1 ;                            /* 0x3f8000000a137421 */
                                                                                 /* 0x000fca0000000000 */
        /*06e0*/                   STG.E [R12.64], R19 ;                         /* 0x000000130c007986 */
                                                                                 /* 0x0005e8000c101906 */
        /*06f0*/                   BAR.SYNC.DEFER_BLOCKING 0x0 ;                 /* 0x0000000000007b1d */
                                                                                 /* 0x000fec0000010000 */
        /*0700*/               @P0 BRA 0x590 ;                                   /* 0xfffffe8000000947 */
                                                                                 /* 0x000fea000383ffff */
        /*0710*/                   DEPBAR.LE SB0, 0x0 ;                          /* 0x000080000000791a */
                                                                                 /* 0x000fc80000000000 */
        /*0720*/                   IMAD.SHL.U32 R2, R11.reuse, 0x200, RZ ;       /* 0x000002000b027824 */
                                                                                 /* 0x042fe400078e00ff */
        /*0730*/                   IMAD R0, R11, 0x80, R0 ;                      /* 0x000000800b007824 */
                                                                                 /* 0x000fc600078e0200 */
        /*0740*/                   LOP3.LUT R2, R2, 0x200, RZ, 0xc, !PT ;        /* 0x0000020002027812 */
                                                                                 /* 0x000fc800078e0cff */
        /*0750*/                   IADD3 R9, R9, R2, RZ ;                        /* 0x0000000209097210 */
                                                                                 /* 0x000fe20007ffe0ff */
        /*0760*/                   BAR.SYNC.DEFER_BLOCKING 0x0 ;                 /* 0x0000000000007b1d */
                                                                                 /* 0x000fe20000010000 */
        /*0770*/                   IADD3 R2, R0, -0x80, RZ ;                     /* 0xffffff8000027810 */
                                                                                 /* 0x000fca0007ffe0ff */
        /*0780*/                   IMAD.WIDE R2, R2, R7, c[0x0][0x160] ;         /* 0x0000580002027625 */
                                                                                 /* 0x000fe200078e0207 */
        /*0790*/                   LDS R9, [R9] ;                                /* 0x0000000009097984 */
                                                                                 /* 0x000e640000000800 */
        /*07a0*/                   FADD R0, R9, R9 ;                             /* 0x0000000909007221 */
                                                                                 /* 0x002fc80000000000 */
        /*07b0*/                   FADD R5, R0, 1 ;                              /* 0x3f80000000057421 */
                                                                                 /* 0x004fca0000000000 */
        /*07c0*/                   STG.E [R2.64], R5 ;                           /* 0x0000000502007986 */
                                                                                 /* 0x000fe2000c101906 */
        /*07d0*/                   EXIT ;                                        /* 0x000000000000794d */
                                                                                 /* 0x000fea0003800000 */
        /*07e0*/                   BRA 0x7e0;                                    /* 0xfffffff000007947 */
                                                                                 /* 0x000fc0000383ffff */
        /*07f0*/                   NOP;                                          /* 0x0000000000007918 */
                                                                                 /* 0x000fc00000000000 */
        /*0800*/                   NOP;                                          /* 0x0000000000007918 */
                                                                                 /* 0x000fc00000000000 */
        /*0810*/                   NOP;                                          /* 0x0000000000007918 */
                                                                                 /* 0x000fc00000000000 */
        /*0820*/                   NOP;                                          /* 0x0000000000007918 */
                                                                                 /* 0x000fc00000000000 */
        /*0830*/                   NOP;                                          /* 0x0000000000007918 */
                                                                                 /* 0x000fc00000000000 */
        /*0840*/                   NOP;                                          /* 0x0000000000007918 */
                                                                                 /* 0x000fc00000000000 */
        /*0850*/                   NOP;                                          /* 0x0000000000007918 */
                                                                                 /* 0x000fc00000000000 */
        /*0860*/                   NOP;                                          /* 0x0000000000007918 */
                                                                                 /* 0x000fc00000000000 */
        /*0870*/                   NOP;                                          /* 0x0000000000007918 */
                                                                                 /* 0x000fc00000000000 */
		..........


		Function : probe_cp_async_vec4
	.headerflags	@"EF_CUDA_SM89 EF_CUDA_VIRTUAL_SM(EF_CUDA_SM89)"
        /*0000*/                   MOV R1, c[0x0][0x28] ;                        /* 0x00000a0000017a02 */
                                                                                 /* 0x000fe40000000f00 */
        /*0010*/                   S2R R0, SR_TID.X ;                            /* 0x0000000000007919 */
                                                                                 /* 0x000e620000002100 */
        /*0020*/                   MOV R5, 0x4 ;                                 /* 0x0000000400057802 */
                                                                                 /* 0x000fe20000000f00 */
        /*0030*/                   ULDC.64 UR4, c[0x0][0x118] ;                  /* 0x0000460000047ab9 */
                                                                                 /* 0x000fe20000000a00 */
        /*0040*/                   SHF.L.U32 R2, R0.reuse, 0x2, RZ ;             /* 0x0000000200027819 */
                                                                                 /* 0x042fe400000006ff */
        /*0050*/                   SHF.L.U32 R7, R0, 0x4, RZ ;                   /* 0x0000000400077819 */
                                                                                 /* 0x000fc600000006ff */
        /*0060*/                   IMAD.WIDE R2, R2, R5, c[0x0][0x168] ;         /* 0x00005a0002027625 */
                                                                                 /* 0x000fc800078e0205 */
        /*0070*/                   IMAD.WIDE R4, R0, R5, c[0x0][0x160] ;         /* 0x0000580000047625 */
                                                                                 /* 0x000fe200078e0205 */
        /*0080*/                   LDGSTS.E.BYPASS.128 [R7], [R2.64] ;           /* 0x0000000002077fae */
                                                                                 /* 0x000fe8000b901c44 */
        /*0090*/                   LDGDEPBAR ;                                   /* 0x00000000000079af */
                                                                                 /* 0x000e220000000000 */
        /*00a0*/                   DEPBAR.LE SB0, 0x0 ;                          /* 0x000080000000791a */
                                                                                 /* 0x000fc80000000000 */
        /*00b0*/                   BAR.SYNC.DEFER_BLOCKING 0x0 ;                 /* 0x0000000000007b1d */
                                                                                 /* 0x000fec0000010000 */
        /*00c0*/                   LDS.128 R8, [R0.X16] ;                        /* 0x0000000000087984 */
                                                                                 /* 0x000e64000000cc00 */
        /*00d0*/                   FADD R9, R8, R9 ;                             /* 0x0000000908097221 */
                                                                                 /* 0x002fc80000000000 */
        /*00e0*/                   FADD R10, R9, R10 ;                           /* 0x0000000a090a7221 */
                                                                                 /* 0x000fc80000000000 */
        /*00f0*/                   FADD R11, R10, R11 ;                          /* 0x0000000b0a0b7221 */
                                                                                 /* 0x000fca0000000000 */
        /*0100*/                   STG.E [R4.64], R11 ;                          /* 0x0000000b04007986 */
                                                                                 /* 0x000fe2000c101904 */
        /*0110*/                   EXIT ;                                        /* 0x000000000000794d */
                                                                                 /* 0x000fea0003800000 */
        /*0120*/                   BRA 0x120;                                    /* 0xfffffff000007947 */
                                                                                 /* 0x000fc0000383ffff */
        /*0130*/                   NOP;                                          /* 0x0000000000007918 */
                                                                                 /* 0x000fc00000000000 */
        /*0140*/                   NOP;                                          /* 0x0000000000007918 */
                                                                                 /* 0x000fc00000000000 */
        /*0150*/                   NOP;                                          /* 0x0000000000007918 */
                                                                                 /* 0x000fc00000000000 */
        /*0160*/                   NOP;                                          /* 0x0000000000007918 */
                                                                                 /* 0x000fc00000000000 */
        /*0170*/                   NOP;                                          /* 0x0000000000007918 */
                                                                                 /* 0x000fc00000000000 */
        /*0180*/                   NOP;                                          /* 0x0000000000007918 */
                                                                                 /* 0x000fc00000000000 */
        /*0190*/                   NOP;                                          /* 0x0000000000007918 */
                                                                                 /* 0x000fc00000000000 */
        /*01a0*/                   NOP;                                          /* 0x0000000000007918 */
                                                                                 /* 0x000fc00000000000 */
        /*01b0*/                   NOP;                                          /* 0x0000000000007918 */
                                                                                 /* 0x000fc00000000000 */
        /*01c0*/                   NOP;                                          /* 0x0000000000007918 */
                                                                                 /* 0x000fc00000000000 */
        /*01d0*/                   NOP;                                          /* 0x0000000000007918 */
                                                                                 /* 0x000fc00000000000 */
        /*01e0*/                   NOP;                                          /* 0x0000000000007918 */
                                                                                 /* 0x000fc00000000000 */
        /*01f0*/                   NOP;                                          /* 0x0000000000007918 */
                                                                                 /* 0x000fc00000000000 */
		..........


		Function : probe_cp_async_basic
	.headerflags	@"EF_CUDA_SM89 EF_CUDA_VIRTUAL_SM(EF_CUDA_SM89)"
        /*0000*/                   MOV R1, c[0x0][0x28] ;                        /* 0x00000a0000017a02 */
                                                                                 /* 0x000fe40000000f00 */
        /*0010*/                   S2R R6, SR_TID.X ;                            /* 0x0000000000067919 */
                                                                                 /* 0x000e620000002100 */
        /*0020*/                   MOV R5, 0x4 ;                                 /* 0x0000000400057802 */
                                                                                 /* 0x000fe20000000f00 */
        /*0030*/                   ULDC.64 UR4, c[0x0][0x118] ;                  /* 0x0000460000047ab9 */
                                                                                 /* 0x000fe20000000a00 */
        /*0040*/                   SHF.L.U32 R7, R6, 0x2, RZ ;                   /* 0x0000000206077819 */
                                                                                 /* 0x002fc600000006ff */
        /*0050*/                   IMAD.WIDE R2, R6, R5, c[0x0][0x168] ;         /* 0x00005a0006027625 */
                                                                                 /* 0x000fc800078e0205 */
        /*0060*/                   IMAD.WIDE R4, R6, R5, c[0x0][0x160] ;         /* 0x0000580006047625 */
                                                                                 /* 0x000fe200078e0205 */
        /*0070*/                   LDGSTS.E [R7], [R2.64] ;                      /* 0x0000000002077fae */
                                                                                 /* 0x000fe8000b921844 */
        /*0080*/                   LDGDEPBAR ;                                   /* 0x00000000000079af */
                                                                                 /* 0x000e220000000000 */
        /*0090*/                   DEPBAR.LE SB0, 0x0 ;                          /* 0x000080000000791a */
                                                                                 /* 0x000fc80000000000 */
        /*00a0*/                   BAR.SYNC.DEFER_BLOCKING 0x0 ;                 /* 0x0000000000007b1d */
                                                                                 /* 0x000fec0000010000 */
        /*00b0*/                   LDS R0, [R6.X4] ;                             /* 0x0000000006007984 */
                                                                                 /* 0x000e640000004800 */
        /*00c0*/                   FADD R9, R0, R0 ;                             /* 0x0000000000097221 */
                                                                                 /* 0x002fca0000000000 */
        /*00d0*/                   STG.E [R4.64], R9 ;                           /* 0x0000000904007986 */
                                                                                 /* 0x000fe2000c101904 */
        /*00e0*/                   EXIT ;                                        /* 0x000000000000794d */
                                                                                 /* 0x000fea0003800000 */
        /*00f0*/                   BRA 0xf0;                                     /* 0xfffffff000007947 */
                                                                                 /* 0x000fc0000383ffff */
        /*0100*/                   NOP;                                          /* 0x0000000000007918 */
                                                                                 /* 0x000fc00000000000 */
        /*0110*/                   NOP;                                          /* 0x0000000000007918 */
                                                                                 /* 0x000fc00000000000 */
        /*0120*/                   NOP;                                          /* 0x0000000000007918 */
                                                                                 /* 0x000fc00000000000 */
        /*0130*/                   NOP;                                          /* 0x0000000000007918 */
                                                                                 /* 0x000fc00000000000 */
        /*0140*/                   NOP;                                          /* 0x0000000000007918 */
                                                                                 /* 0x000fc00000000000 */
        /*0150*/                   NOP;                                          /* 0x0000000000007918 */
                                                                                 /* 0x000fc00000000000 */
        /*0160*/                   NOP;                                          /* 0x0000000000007918 */
                                                                                 /* 0x000fc00000000000 */
        /*0170*/                   NOP;                                          /* 0x0000000000007918 */
                                                                                 /* 0x000fc00000000000 */
		..........


