
	code for sm_89
	.target	sm_89

		Function : probe_fadd_independent
	.headerflags	@"EF_CUDA_SM89 EF_CUDA_VIRTUAL_SM(EF_CUDA_SM89)"
        /*0000*/                   MOV R1, c[0x0][0x28] ;                              /* 0x00000a0000017a02 */
                                                                                       /* 0x000fe40000000f00 */
        /*0010*/                   S2R R12, SR_TID.X ;                                 /* 0x00000000000c7919 */
                                                                                       /* 0x000e220000002100 */
        /*0020*/                   MOV R17, 0x4 ;                                      /* 0x0000000400117802 */
                                                                                       /* 0x000fe20000000f00 */
        /*0030*/                   ULDC.64 UR4, c[0x0][0x118] ;                        /* 0x0000460000047ab9 */
                                                                                       /* 0x000fc80000000a00 */
        /*0040*/                   IMAD.WIDE R2, R12, R17, c[0x0][0x168] ;             /* 0x00005a000c027625 */
                                                                                       /* 0x001fc800078e0211 */
        /*0050*/                   IMAD.WIDE R4, R12, R17, c[0x0][0x170] ;             /* 0x00005c000c047625 */
                                                                                       /* 0x000fe200078e0211 */
        /*0060*/                   LDG.E R0, [R2.64] ;                                 /* 0x0000000402007981 */
                                                                                       /* 0x000ea8000c1e1900 */
        /*0070*/                   LDG.E R9, [R4.64] ;                                 /* 0x0000000404097981 */
                                                                                       /* 0x000ea8000c1e1900 */
        /*0080*/                   LDG.E R6, [R2.64+0x80] ;                            /* 0x0000800402067981 */
                                                                                       /* 0x000ee8000c1e1900 */
        /*0090*/                   LDG.E R7, [R2.64+0x100] ;                           /* 0x0001000402077981 */
                                                                                       /* 0x000f28000c1e1900 */
        /*00a0*/                   LDG.E R8, [R2.64+0x180] ;                           /* 0x0001800402087981 */
                                                                                       /* 0x000f68000c1e1900 */
        /*00b0*/                   LDG.E R11, [R4.64+0x80] ;                           /* 0x00008004040b7981 */
                                                                                       /* 0x000ee8000c1e1900 */
        /*00c0*/                   LDG.E R10, [R4.64+0x100] ;                          /* 0x00010004040a7981 */
                                                                                       /* 0x000f28000c1e1900 */
        /*00d0*/                   LDG.E R13, [R4.64+0x180] ;                          /* 0x00018004040d7981 */
                                                                                       /* 0x000f62000c1e1900 */
        /*00e0*/                   FADD R0, R0, R9 ;                                   /* 0x0000000900007221 */
                                                                                       /* 0x004fc80000000000 */
        /*00f0*/                   FADD R15, R9, R0 ;                                  /* 0x00000000090f7221 */
                                                                                       /* 0x000fe20000000000 */
        /*0100*/                   FADD R0, R6, R11 ;                                  /* 0x0000000b06007221 */
                                                                                       /* 0x008fe20000000000 */
        /*0110*/                   FADD R9, R7, R10 ;                                  /* 0x0000000a07097221 */
                                                                                       /* 0x010fe20000000000 */
        /*0120*/                   IMAD.WIDE R6, R12, R17, c[0x0][0x160] ;             /* 0x000058000c067625 */
                                                                                       /* 0x000fe400078e0211 */
        /*0130*/                   FADD R11, R11, R0 ;                                 /* 0x000000000b0b7221 */
                                                                                       /* 0x000fe20000000000 */
        /*0140*/                   FADD R8, R8, R13 ;                                  /* 0x0000000d08087221 */
                                                                                       /* 0x020fe20000000000 */
        /*0150*/                   FADD R9, R10, R9 ;                                  /* 0x000000090a097221 */
                                                                                       /* 0x000fe20000000000 */
        /*0160*/                   STG.E [R6.64], R15 ;                                /* 0x0000000f06007986 */
                                                                                       /* 0x000fe4000c101904 */
        /*0170*/                   FADD R13, R13, R8 ;                                 /* 0x000000080d0d7221 */
                                                                                       /* 0x000fc40000000000 */
        /*0180*/                   STG.E [R6.64+0x80], R11 ;                           /* 0x0000800b06007986 */
                                                                                       /* 0x000fe8000c101904 */
        /*0190*/                   STG.E [R6.64+0x100], R9 ;                           /* 0x0001000906007986 */
                                                                                       /* 0x000fe8000c101904 */
        /*01a0*/                   STG.E [R6.64+0x180], R13 ;                          /* 0x0001800d06007986 */
                                                                                       /* 0x000fe2000c101904 */
        /*01b0*/                   EXIT ;                                              /* 0x000000000000794d */
                                                                                       /* 0x000fea0003800000 */
        /*01c0*/                   BRA 0x1c0;                                          /* 0xfffffff000007947 */
                                                                                       /* 0x000fc0000383ffff */
        /*01d0*/                   NOP;                                                /* 0x0000000000007918 */
                                                                                       /* 0x000fc00000000000 */
        /*01e0*/                   NOP;                                                /* 0x0000000000007918 */
                                                                                       /* 0x000fc00000000000 */
        /*01f0*/                   NOP;                                                /* 0x0000000000007918 */
                                                                                       /* 0x000fc00000000000 */
        /*0200*/                   NOP;                                                /* 0x0000000000007918 */
                                                                                       /* 0x000fc00000000000 */
        /*0210*/                   NOP;                                                /* 0x0000000000007918 */
                                                                                       /* 0x000fc00000000000 */
        /*0220*/                   NOP;                                                /* 0x0000000000007918 */
                                                                                       /* 0x000fc00000000000 */
        /*0230*/                   NOP;                                                /* 0x0000000000007918 */
                                                                                       /* 0x000fc00000000000 */
        /*0240*/                   NOP;                                                /* 0x0000000000007918 */
                                                                                       /* 0x000fc00000000000 */
        /*0250*/                   NOP;                                                /* 0x0000000000007918 */
                                                                                       /* 0x000fc00000000000 */
        /*0260*/                   NOP;                                                /* 0x0000000000007918 */
                                                                                       /* 0x000fc00000000000 */
        /*0270*/                   NOP;                                                /* 0x0000000000007918 */
                                                                                       /* 0x000fc00000000000 */
		..........


		Function : probe_fabs_fneg
	.headerflags	@"EF_CUDA_SM89 EF_CUDA_VIRTUAL_SM(EF_CUDA_SM89)"
        /*0000*/                   MOV R1, c[0x0][0x28] ;                              /* 0x00000a0000017a02 */
                                                                                       /* 0x000fe40000000f00 */
        /*0010*/                   S2R R6, SR_TID.X ;                                  /* 0x0000000000067919 */
                                                                                       /* 0x000e220000002100 */
        /*0020*/                   MOV R7, 0x4 ;                                       /* 0x0000000400077802 */
                                                                                       /* 0x000fe20000000f00 */
        /*0030*/                   ULDC.64 UR4, c[0x0][0x118] ;                        /* 0x0000460000047ab9 */
                                                                                       /* 0x000fc80000000a00 */
        /*0040*/                   IMAD.WIDE R2, R6, R7, c[0x0][0x168] ;               /* 0x00005a0006027625 */
                                                                                       /* 0x001fc800078e0207 */
        /*0050*/                   IMAD.WIDE R4, R6.reuse, R7.reuse, c[0x0][0x170] ;   /* 0x00005c0006047625 */
                                                                                       /* 0x0c0fe400078e0207 */
        /*0060*/                   LDG.E R2, [R2.64] ;                                 /* 0x0000000402027981 */
                                                                                       /* 0x000ea8000c1e1900 */
        /*0070*/                   LDG.E R5, [R4.64] ;                                 /* 0x0000000404057981 */
                                                                                       /* 0x000ea2000c1e1900 */
        /*0080*/                   IMAD.WIDE R6, R6, R7, c[0x0][0x160] ;               /* 0x0000580006067625 */
                                                                                       /* 0x000fe200078e0207 */
        /*0090*/                   FADD R0, |R2|, R5 ;                                 /* 0x0000000502007221 */
                                                                                       /* 0x004fc80000000200 */
        /*00a0*/                   FADD R0, R5, -R0 ;                                  /* 0x8000000005007221 */
                                                                                       /* 0x000fc80000000000 */
        /*00b0*/                   FADD R0, R5, |R0| ;                                 /* 0x4000000005007221 */
                                                                                       /* 0x000fc80000000000 */
        /*00c0*/                   FMUL R9, R5, |R0| ;                                 /* 0x4000000005097220 */
                                                                                       /* 0x000fca0000400000 */
        /*00d0*/                   STG.E [R6.64], R9 ;                                 /* 0x0000000906007986 */
                                                                                       /* 0x000fe2000c101904 */
        /*00e0*/                   EXIT ;                                              /* 0x000000000000794d */
                                                                                       /* 0x000fea0003800000 */
        /*00f0*/                   BRA 0xf0;                                           /* 0xfffffff000007947 */
                                                                                       /* 0x000fc0000383ffff */
        /*0100*/                   NOP;                                                /* 0x0000000000007918 */
                                                                                       /* 0x000fc00000000000 */
        /*0110*/                   NOP;                                                /* 0x0000000000007918 */
                                                                                       /* 0x000fc00000000000 */
        /*0120*/                   NOP;                                                /* 0x0000000000007918 */
                                                                                       /* 0x000fc00000000000 */
        /*0130*/                   NOP;                                                /* 0x0000000000007918 */
                                                                                       /* 0x000fc00000000000 */
        /*0140*/                   NOP;                                                /* 0x0000000000007918 */
                                                                                       /* 0x000fc00000000000 */
        /*0150*/                   NOP;                                                /* 0x0000000000007918 */
                                                                                       /* 0x000fc00000000000 */
        /*0160*/                   NOP;                                                /* 0x0000000000007918 */
                                                                                       /* 0x000fc00000000000 */
        /*0170*/                   NOP;                                                /* 0x0000000000007918 */
                                                                                       /* 0x000fc00000000000 */
		..........


		Function : probe_fmnmx
	.headerflags	@"EF_CUDA_SM89 EF_CUDA_VIRTUAL_SM(EF_CUDA_SM89)"
        /*0000*/                   IMAD.MOV.U32 R1, RZ, RZ, c[0x0][0x28] ;             /* 0x00000a00ff017624 */
                                                                                       /* 0x000fe400078e00ff */
        /*0010*/                   S2R R6, SR_TID.X ;                                  /* 0x0000000000067919 */
                                                                                       /* 0x000e220000002100 */
        /*0020*/                   IMAD.MOV.U32 R7, RZ, RZ, 0x4 ;                      /* 0x00000004ff077424 */
                                                                                       /* 0x000fe200078e00ff */
        /*0030*/                   ULDC.64 UR4, c[0x0][0x118] ;                        /* 0x0000460000047ab9 */
                                                                                       /* 0x000fc60000000a00 */
        /*0040*/                   IMAD.WIDE R2, R6, R7, c[0x0][0x168] ;               /* 0x00005a0006027625 */
                                                                                       /* 0x001fc800078e0207 */
        /*0050*/                   IMAD.WIDE R4, R6.reuse, R7.reuse, c[0x0][0x170] ;   /* 0x00005c0006047625 */
                                                                                       /* 0x0c0fe400078e0207 */
        /*0060*/                   LDG.E R2, [R2.64] ;                                 /* 0x0000000402027981 */
                                                                                       /* 0x000ea8000c1e1900 */
        /*0070*/                   LDG.E R5, [R4.64] ;                                 /* 0x0000000404057981 */
                                                                                       /* 0x000ea2000c1e1900 */
        /*0080*/                   IMAD.WIDE R6, R6, R7, c[0x0][0x160] ;               /* 0x0000580006067625 */
                                                                                       /* 0x000fe200078e0207 */
        /*0090*/                   FMNMX R0, R2, R5, PT ;                              /* 0x0000000502007209 */
                                                                                       /* 0x004fc80003800000 */
        /*00a0*/                   FMNMX R0, R5, R0, !PT ;                             /* 0x0000000005007209 */
                                                                                       /* 0x000fc80007800000 */
        /*00b0*/                   FMNMX R0, R5, R0, PT ;                              /* 0x0000000005007209 */
                                                                                       /* 0x000fc80003800000 */
        /*00c0*/                   FMNMX R0, R5, R0, !PT ;                             /* 0x0000000005007209 */
                                                                                       /* 0x000fc80007800000 */
        /*00d0*/                   FMNMX R0, R5, R0, PT ;                              /* 0x0000000005007209 */
                                                                                       /* 0x000fc80003800000 */
        /*00e0*/                   FMNMX R0, R5, R0, !PT ;                             /* 0x0000000005007209 */
                                                                                       /* 0x000fc80007800000 */
        /*00f0*/                   FMNMX R0, R5, R0, PT ;                              /* 0x0000000005007209 */
                                                                                       /* 0x000fc80003800000 */
        /*0100*/                   FMNMX R9, R5, R0, !PT ;                             /* 0x0000000005097209 */
                                                                                       /* 0x000fca0007800000 */
        /*0110*/                   STG.E [R6.64], R9 ;                                 /* 0x0000000906007986 */
                                                                                       /* 0x000fe2000c101904 */
        /*0120*/                   EXIT ;                                              /* 0x000000000000794d */
                                                                                       /* 0x000fea0003800000 */
        /*0130*/                   BRA 0x130;                                          /* 0xfffffff000007947 */
                                                                                       /* 0x000fc0000383ffff */
        /*0140*/                   NOP;                                                /* 0x0000000000007918 */
                                                                                       /* 0x000fc00000000000 */
        /*0150*/                   NOP;                                                /* 0x0000000000007918 */
                                                                                       /* 0x000fc00000000000 */
        /*0160*/                   NOP;                                                /* 0x0000000000007918 */
                                                                                       /* 0x000fc00000000000 */
        /*0170*/                   NOP;                                                /* 0x0000000000007918 */
                                                                                       /* 0x000fc00000000000 */
        /*0180*/                   NOP;                                                /* 0x0000000000007918 */
                                                                                       /* 0x000fc00000000000 */
        /*0190*/                   NOP;                                                /* 0x0000000000007918 */
                                                                                       /* 0x000fc00000000000 */
        /*01a0*/                   NOP;                                                /* 0x0000000000007918 */
                                                                                       /* 0x000fc00000000000 */
        /*01b0*/                   NOP;                                                /* 0x0000000000007918 */
                                                                                       /* 0x000fc00000000000 */
        /*01c0*/                   NOP;                                                /* 0x0000000000007918 */
                                                                                       /* 0x000fc00000000000 */
        /*01d0*/                   NOP;                                                /* 0x0000000000007918 */
                                                                                       /* 0x000fc00000000000 */
        /*01e0*/                   NOP;                                                /* 0x0000000000007918 */
                                                                                       /* 0x000fc00000000000 */
        /*01f0*/                   NOP;                                                /* 0x0000000000007918 */
                                                                                       /* 0x000fc00000000000 */
		..........


		Function : probe_ffma
	.headerflags	@"EF_CUDA_SM89 EF_CUDA_VIRTUAL_SM(EF_CUDA_SM89)"
        /*0000*/                   MOV R1, c[0x0][0x28] ;                              /* 0x00000a0000017a02 */
                                                                                       /* 0x000fe40000000f00 */
        /*0010*/                   S2R R8, SR_TID.X ;                                  /* 0x0000000000087919 */
                                                                                       /* 0x000e220000002100 */
        /*0020*/                   MOV R11, 0x4 ;                                      /* 0x00000004000b7802 */
                                                                                       /* 0x000fe20000000f00 */
        /*0030*/                   ULDC.64 UR4, c[0x0][0x118] ;                        /* 0x0000460000047ab9 */
                                                                                       /* 0x000fc80000000a00 */
        /*0040*/                   IMAD.WIDE R2, R8, R11, c[0x0][0x168] ;              /* 0x00005a0008027625 */
                                                                                       /* 0x001fc800078e020b */
        /*0050*/                   IMAD.WIDE R4, R8.reuse, R11.reuse, c[0x0][0x170] ;  /* 0x00005c0008047625 */
                                                                                       /* 0x0c0fe400078e020b */
        /*0060*/                   LDG.E R2, [R2.64] ;                                 /* 0x0000000402027981 */
                                                                                       /* 0x000ea4000c1e1900 */
        /*0070*/                   IMAD.WIDE R6, R8, R11, c[0x0][0x178] ;              /* 0x00005e0008067625 */
                                                                                       /* 0x000fe400078e020b */
        /*0080*/                   LDG.E R5, [R4.64] ;                                 /* 0x0000000404057981 */
                                                                                       /* 0x000ea8000c1e1900 */
        /*0090*/                   LDG.E R6, [R6.64] ;                                 /* 0x0000000406067981 */
                                                                                       /* 0x000ea4000c1e1900 */
        /*00a0*/                   FFMA R0, R2, R5, R6 ;                               /* 0x0000000502007223 */
                                                                                       /* 0x004fc80000000006 */
        /*00b0*/                   FFMA R9, R5, R0, R6 ;                               /* 0x0000000005097223 */
                                                                                       /* 0x000fc80000000006 */
        /*00c0*/                   FFMA R9, R5, R9, R6 ;                               /* 0x0000000905097223 */
                                                                                       /* 0x000fc80000000006 */
        /*00d0*/                   FFMA R9, R5, R9, R6 ;                               /* 0x0000000905097223 */
                                                                                       /* 0x000fc80000000006 */
        /*00e0*/                   FFMA R9, R5, R9, R6 ;                               /* 0x0000000905097223 */
                                                                                       /* 0x000fc80000000006 */
        /*00f0*/                   FFMA R9, R5, R9, R6 ;                               /* 0x0000000905097223 */
                                                                                       /* 0x000fc80000000006 */
        /*0100*/                   FFMA R9, R5, R9, R6 ;                               /* 0x0000000905097223 */
                                                                                       /* 0x000fc80000000006 */
        /*0110*/                   FFMA R9, R5, R9, R6 ;                               /* 0x0000000905097223 */
                                                                                       /* 0x000fc80000000006 */
        /*0120*/                   FFMA R9, R5, R9, R6 ;                               /* 0x0000000905097223 */
                                                                                       /* 0x000fc80000000006 */
        /*0130*/                   FFMA R9, R5, R9, R6 ;                               /* 0x0000000905097223 */
                                                                                       /* 0x000fc80000000006 */
        /*0140*/                   FFMA R9, R5, R9, R6 ;                               /* 0x0000000905097223 */
                                                                                       /* 0x000fc80000000006 */
        /*0150*/                   FFMA R9, R5, R9, R6 ;                               /* 0x0000000905097223 */
                                                                                       /* 0x000fc80000000006 */
        /*0160*/                   FFMA R9, R5, R9, R6 ;                               /* 0x0000000905097223 */
                                                                                       /* 0x000fc80000000006 */
        /*0170*/                   FFMA R9, R5, R9, R6 ;                               /* 0x0000000905097223 */
                                                                                       /* 0x000fc80000000006 */
        /*0180*/                   FFMA R9, R5, R9, R6 ;                               /* 0x0000000905097223 */
                                                                                       /* 0x000fe20000000006 */
        /*0190*/                   IMAD.WIDE R2, R8, R11, c[0x0][0x160] ;              /* 0x0000580008027625 */
                                                                                       /* 0x000fc600078e020b */
        /*01a0*/                   FFMA R9, R5, R9, R6 ;                               /* 0x0000000905097223 */
                                                                                       /* 0x000fca0000000006 */
        /*01b0*/                   STG.E [R2.64], R9 ;                                 /* 0x0000000902007986 */
                                                                                       /* 0x000fe2000c101904 */
        /*01c0*/                   EXIT ;                                              /* 0x000000000000794d */
                                                                                       /* 0x000fea0003800000 */
        /*01d0*/                   BRA 0x1d0;                                          /* 0xfffffff000007947 */
                                                                                       /* 0x000fc0000383ffff */
        /*01e0*/                   NOP;                                                /* 0x0000000000007918 */
                                                                                       /* 0x000fc00000000000 */
        /*01f0*/                   NOP;                                                /* 0x0000000000007918 */
                                                                                       /* 0x000fc00000000000 */
        /*0200*/                   NOP;                                                /* 0x0000000000007918 */
                                                                                       /* 0x000fc00000000000 */
        /*0210*/                   NOP;                                                /* 0x0000000000007918 */
                                                                                       /* 0x000fc00000000000 */
        /*0220*/                   NOP;                                                /* 0x0000000000007918 */
                                                                                       /* 0x000fc00000000000 */
        /*0230*/                   NOP;                                                /* 0x0000000000007918 */
                                                                                       /* 0x000fc00000000000 */
        /*0240*/                   NOP;                                                /* 0x0000000000007918 */
                                                                                       /* 0x000fc00000000000 */
        /*0250*/                   NOP;                                                /* 0x0000000000007918 */
                                                                                       /* 0x000fc00000000000 */
        /*0260*/                   NOP;                                                /* 0x0000000000007918 */
                                                                                       /* 0x000fc00000000000 */
        /*0270*/                   NOP;                                                /* 0x0000000000007918 */
                                                                                       /* 0x000fc00000000000 */
		..........


		Function : probe_fmul
	.headerflags	@"EF_CUDA_SM89 EF_CUDA_VIRTUAL_SM(EF_CUDA_SM89)"
        /*0000*/                   MOV R1, c[0x0][0x28] ;                              /* 0x00000a0000017a02 */
                                                                                       /* 0x000fe40000000f00 */
        /*0010*/                   S2R R6, SR_TID.X ;                                  /* 0x0000000000067919 */
                                                                                       /* 0x000e220000002100 */
        /*0020*/                   MOV R7, 0x4 ;                                       /* 0x0000000400077802 */
                                                                                       /* 0x000fe20000000f00 */
        /*0030*/                   ULDC.64 UR4, c[0x0][0x118] ;                        /* 0x0000460000047ab9 */
                                                                                       /* 0x000fc80000000a00 */
        /*0040*/                   IMAD.WIDE R2, R6, R7, c[0x0][0x168] ;               /* 0x00005a0006027625 */
                                                                                       /* 0x001fc800078e0207 */
        /*0050*/                   IMAD.WIDE R4, R6, R7, c[0x0][0x170] ;               /* 0x00005c0006047625 */
                                                                                       /* 0x000fe400078e0207 */
        /*0060*/                   LDG.E R2, [R2.64] ;                                 /* 0x0000000402027981 */
                                                                                       /* 0x000ea8000c1e1900 */
        /*0070*/                   LDG.E R5, [R4.64] ;                                 /* 0x0000000404057981 */
                                                                                       /* 0x000ea4000c1e1900 */
        /*0080*/                   FMUL R0, R2, R5 ;                                   /* 0x0000000502007220 */
                                                                                       /* 0x004fe20000400000 */
        /*0090*/                   IMAD.WIDE R2, R6, R7, c[0x0][0x160] ;               /* 0x0000580006027625 */
                                                                                       /* 0x000fc600078e0207 */
        /*00a0*/                   FMUL R0, R5, R0 ;                                   /* 0x0000000005007220 */
                                                                                       /* 0x000fc80000400000 */
        /*00b0*/                   FMUL R0, R5, R0 ;                                   /* 0x0000000005007220 */
                                                                                       /* 0x000fc80000400000 */
        /*00c0*/                   FMUL R0, R5, R0 ;                                   /* 0x0000000005007220 */
                                                                                       /* 0x000fc80000400000 */
        /*00d0*/                   FMUL R0, R5, R0 ;                                   /* 0x0000000005007220 */
                                                                                       /* 0x000fc80000400000 */
        /*00e0*/                   FMUL R0, R5, R0 ;                                   /* 0x0000000005007220 */
                                                                                       /* 0x000fc80000400000 */
        /*00f0*/                   FMUL R0, R5, R0 ;                                   /* 0x0000000005007220 */
                                                                                       /* 0x000fc80000400000 */
        /*0100*/                   FMUL R0, R5, R0 ;                                   /* 0x0000000005007220 */
                                                                                       /* 0x000fc80000400000 */
        /*0110*/                   FMUL R0, R5, R0 ;                                   /* 0x0000000005007220 */
                                                                                       /* 0x000fc80000400000 */
        /*0120*/                   FMUL R0, R5, R0 ;                                   /* 0x0000000005007220 */
                                                                                       /* 0x000fc80000400000 */
        /*0130*/                   FMUL R0, R5, R0 ;                                   /* 0x0000000005007220 */
                                                                                       /* 0x000fc80000400000 */
        /*0140*/                   FMUL R0, R5, R0 ;                                   /* 0x0000000005007220 */
                                                                                       /* 0x000fc80000400000 */
        /*0150*/                   FMUL R0, R5, R0 ;                                   /* 0x0000000005007220 */
                                                                                       /* 0x000fc80000400000 */
        /*0160*/                   FMUL R0, R5, R0 ;                                   /* 0x0000000005007220 */
                                                                                       /* 0x000fc80000400000 */
        /*0170*/                   FMUL R0, R5, R0 ;                                   /* 0x0000000005007220 */
                                                                                       /* 0x000fc80000400000 */
        /*0180*/                   FMUL R5, R5, R0 ;                                   /* 0x0000000005057220 */
                                                                                       /* 0x000fca0000400000 */
        /*0190*/                   STG.E [R2.64], R5 ;                                 /* 0x0000000502007986 */
                                                                                       /* 0x000fe2000c101904 */
        /*01a0*/                   EXIT ;                                              /* 0x000000000000794d */
                                                                                       /* 0x000fea0003800000 */
        /*01b0*/                   BRA 0x1b0;                                          /* 0xfffffff000007947 */
                                                                                       /* 0x000fc0000383ffff */
        /*01c0*/                   NOP;                                                /* 0x0000000000007918 */
                                                                                       /* 0x000fc00000000000 */
        /*01d0*/                   NOP;                                                /* 0x0000000000007918 */
                                                                                       /* 0x000fc00000000000 */
        /*01e0*/                   NOP;                                                /* 0x0000000000007918 */
                                                                                       /* 0x000fc00000000000 */
        /*01f0*/                   NOP;                                                /* 0x0000000000007918 */
                                                                                       /* 0x000fc00000000000 */
        /*0200*/                   NOP;                                                /* 0x0000000000007918 */
                                                                                       /* 0x000fc00000000000 */
        /*0210*/                   NOP;                                                /* 0x0000000000007918 */
                                                                                       /* 0x000fc00000000000 */
        /*0220*/                   NOP;                                                /* 0x0000000000007918 */
                                                                                       /* 0x000fc00000000000 */
        /*0230*/                   NOP;                                                /* 0x0000000000007918 */
                                                                                       /* 0x000fc00000000000 */
        /*0240*/                   NOP;                                                /* 0x0000000000007918 */
                                                                                       /* 0x000fc00000000000 */
        /*0250*/                   NOP;                                                /* 0x0000000000007918 */
                                                                                       /* 0x000fc00000000000 */
        /*0260*/                   NOP;                                                /* 0x0000000000007918 */
                                                                                       /* 0x000fc00000000000 */
        /*0270*/                   NOP;                                                /* 0x0000000000007918 */
                                                                                       /* 0x000fc00000000000 */
		..........


		Function : probe_fadd
	.headerflags	@"EF_CUDA_SM89 EF_CUDA_VIRTUAL_SM(EF_CUDA_SM89)"
        /*0000*/                   MOV R1, c[0x0][0x28] ;                              /* 0x00000a0000017a02 */
                                                                                       /* 0x000fe40000000f00 */
        /*0010*/                   S2R R6, SR_TID.X ;                                  /* 0x0000000000067919 */
                                                                                       /* 0x000e220000002100 */
        /*0020*/                   MOV R7, 0x4 ;                                       /* 0x0000000400077802 */
                                                                                       /* 0x000fe20000000f00 */
        /*0030*/                   ULDC.64 UR4, c[0x0][0x118] ;                        /* 0x0000460000047ab9 */
                                                                                       /* 0x000fc80000000a00 */
        /*0040*/                   IMAD.WIDE R2, R6, R7, c[0x0][0x168] ;               /* 0x00005a0006027625 */
                                                                                       /* 0x001fc800078e0207 */
        /*0050*/                   IMAD.WIDE R4, R6, R7.reuse, c[0x0][0x170] ;         /* 0x00005c0006047625 */
                                                                                       /* 0x080fe400078e0207 */
        /*0060*/                   LDG.E R2, [R2.64] ;                                 /* 0x0000000402027981 */
                                                                                       /* 0x000ea8000c1e1900 */
        /*0070*/                   LDG.E R5, [R4.64] ;                                 /* 0x0000000404057981 */
                                                                                       /* 0x000ea4000c1e1900 */
        /*0080*/                   FADD R0, R2, R5 ;                                   /* 0x0000000502007221 */
                                                                                       /* 0x004fe20000000000 */
        /*0090*/                   IMAD.WIDE R2, R6, R7, c[0x0][0x160] ;               /* 0x0000580006027625 */
                                                                                       /* 0x000fc600078e0207 */
        /*00a0*/                   FADD R0, R5, R0 ;                                   /* 0x0000000005007221 */
                                                                                       /* 0x000fc80000000000 */
        /*00b0*/                   FADD R0, R5, R0 ;                                   /* 0x0000000005007221 */
                                                                                       /* 0x000fc80000000000 */
        /*00c0*/                   FADD R0, R5, R0 ;                                   /* 0x0000000005007221 */
                                                                                       /* 0x000fc80000000000 */
        /*00d0*/                   FADD R0, R5, R0 ;                                   /* 0x0000000005007221 */
                                                                                       /* 0x000fc80000000000 */
        /*00e0*/                   FADD R0, R5, R0 ;                                   /* 0x0000000005007221 */
                                                                                       /* 0x000fc80000000000 */
        /*00f0*/                   FADD R0, R5, R0 ;                                   /* 0x0000000005007221 */
                                                                                       /* 0x000fc80000000000 */
        /*0100*/                   FADD R0, R5, R0 ;                                   /* 0x0000000005007221 */
                                                                                       /* 0x000fc80000000000 */
        /*0110*/                   FADD R0, R5, R0 ;                                   /* 0x0000000005007221 */
                                                                                       /* 0x000fc80000000000 */
        /*0120*/                   FADD R0, R5, R0 ;                                   /* 0x0000000005007221 */
                                                                                       /* 0x000fc80000000000 */
        /*0130*/                   FADD R0, R5, R0 ;                                   /* 0x0000000005007221 */
                                                                                       /* 0x000fc80000000000 */
        /*0140*/                   FADD R0, R5, R0 ;                                   /* 0x0000000005007221 */
                                                                                       /* 0x000fc80000000000 */
        /*0150*/                   FADD R0, R5, R0 ;                                   /* 0x0000000005007221 */
                                                                                       /* 0x000fc80000000000 */
        /*0160*/                   FADD R0, R5, R0 ;                                   /* 0x0000000005007221 */
                                                                                       /* 0x000fc80000000000 */
        /*0170*/                   FADD R0, R5, R0 ;                                   /* 0x0000000005007221 */
                                                                                       /* 0x000fc80000000000 */
        /*0180*/                   FADD R5, R5, R0 ;                                   /* 0x0000000005057221 */
                                                                                       /* 0x000fca0000000000 */
        /*0190*/                   STG.E [R2.64], R5 ;                                 /* 0x0000000502007986 */
                                                                                       /* 0x000fe2000c101904 */
        /*01a0*/                   EXIT ;                                              /* 0x000000000000794d */
                                                                                       /* 0x000fea0003800000 */
        /*01b0*/                   BRA 0x1b0;                                          /* 0xfffffff000007947 */
                                                                                       /* 0x000fc0000383ffff */
        /*01c0*/                   NOP;                                                /* 0x0000000000007918 */
                                                                                       /* 0x000fc00000000000 */
        /*01d0*/                   NOP;                                                /* 0x0000000000007918 */
                                                                                       /* 0x000fc00000000000 */
        /*01e0*/                   NOP;                                                /* 0x0000000000007918 */
                                                                                       /* 0x000fc00000000000 */
        /*01f0*/                   NOP;                                                /* 0x0000000000007918 */
                                                                                       /* 0x000fc00000000000 */
        /*0200*/                   NOP;                                                /* 0x0000000000007918 */
                                                                                       /* 0x000fc00000000000 */
        /*0210*/                   NOP;                                                /* 0x0000000000007918 */
                                                                                       /* 0x000fc00000000000 */
        /*0220*/                   NOP;                                                /* 0x0000000000007918 */
                                                                                       /* 0x000fc00000000000 */
        /*0230*/                   NOP;                                                /* 0x0000000000007918 */
                                                                                       /* 0x000fc00000000000 */
        /*0240*/                   NOP;                                                /* 0x0000000000007918 */
                                                                                       /* 0x000fc00000000000 */
        /*0250*/                   NOP;                                                /* 0x0000000000007918 */
                                                                                       /* 0x000fc00000000000 */
        /*0260*/                   NOP;                                                /* 0x0000000000007918 */
                                                                                       /* 0x000fc00000000000 */
        /*0270*/                   NOP;                                                /* 0x0000000000007918 */
                                                                                       /* 0x000fc00000000000 */
		..........


