
	code for sm_89
	.target	sm_89

		Function : probe_s2ur
	.headerflags	@"EF_CUDA_SM89 EF_CUDA_VIRTUAL_SM(EF_CUDA_SM89)"
        /*0000*/                   MOV R1, c[0x0][0x28] ;                                 /* 0x00000a0000017a02 */
                                                                                          /* 0x000fe40000000f00 */
        /*0010*/                   S2R R2, SR_TID.X ;                                     /* 0x0000000000027919 */
                                                                                          /* 0x000e220000002100 */
        /*0020*/                   MOV R0, c[0x0][0xc] ;                                  /* 0x0000030000007a02 */
                                                                                          /* 0x000fe20000000f00 */
        /*0030*/                   ULDC.64 UR4, c[0x0][0x118] ;                           /* 0x0000460000047ab9 */
                                                                                          /* 0x000fe20000000a00 */
        /*0040*/                   MOV R7, 0x4 ;                                          /* 0x0000000400077802 */
                                                                                          /* 0x000fe20000000f00 */
        /*0050*/                   S2R R3, SR_CTAID.X ;                                   /* 0x0000000000037919 */
                                                                                          /* 0x000e240000002500 */
        /*0060*/                   IMAD R2, R3, c[0x0][0x0], R2 ;                         /* 0x0000000003027a24 */
                                                                                          /* 0x001fe400078e0202 */
        /*0070*/                   IMAD R3, R0, c[0x0][0x0], R3 ;                         /* 0x0000000000037a24 */
                                                                                          /* 0x000fca00078e0203 */
        /*0080*/                   IADD3 R5, R2.reuse, R3, RZ ;                           /* 0x0000000302057210 */
                                                                                          /* 0x040fe20007ffe0ff */
        /*0090*/                   IMAD.WIDE R2, R2, R7, c[0x0][0x160] ;                  /* 0x0000580002027625 */
                                                                                          /* 0x000fca00078e0207 */
        /*00a0*/                   STG.E [R2.64], R5 ;                                    /* 0x0000000502007986 */
                                                                                          /* 0x000fe2000c101904 */
        /*00b0*/                   EXIT ;                                                 /* 0x000000000000794d */
                                                                                          /* 0x000fea0003800000 */
        /*00c0*/                   BRA 0xc0;                                              /* 0xfffffff000007947 */
                                                                                          /* 0x000fc0000383ffff */
        /*00d0*/                   NOP;                                                   /* 0x0000000000007918 */
                                                                                          /* 0x000fc00000000000 */
        /*00e0*/                   NOP;                                                   /* 0x0000000000007918 */
                                                                                          /* 0x000fc00000000000 */
        /*00f0*/                   NOP;                                                   /* 0x0000000000007918 */
                                                                                          /* 0x000fc00000000000 */
        /*0100*/                   NOP;                                                   /* 0x0000000000007918 */
                                                                                          /* 0x000fc00000000000 */
        /*0110*/                   NOP;                                                   /* 0x0000000000007918 */
                                                                                          /* 0x000fc00000000000 */
        /*0120*/                   NOP;                                                   /* 0x0000000000007918 */
                                                                                          /* 0x000fc00000000000 */
        /*0130*/                   NOP;                                                   /* 0x0000000000007918 */
                                                                                          /* 0x000fc00000000000 */
        /*0140*/                   NOP;                                                   /* 0x0000000000007918 */
                                                                                          /* 0x000fc00000000000 */
        /*0150*/                   NOP;                                                   /* 0x0000000000007918 */
                                                                                          /* 0x000fc00000000000 */
        /*0160*/                   NOP;                                                   /* 0x0000000000007918 */
                                                                                          /* 0x000fc00000000000 */
        /*0170*/                   NOP;                                                   /* 0x0000000000007918 */
                                                                                          /* 0x000fc00000000000 */
		..........


		Function : probe_uniform_bitops
	.headerflags	@"EF_CUDA_SM89 EF_CUDA_VIRTUAL_SM(EF_CUDA_SM89)"
        /*0000*/                   IMAD.MOV.U32 R1, RZ, RZ, c[0x0][0x28] ;                /* 0x00000a00ff017624 */
                                                                                          /* 0x000fe400078e00ff */
        /*0010*/                   S2R R2, SR_TID.X ;                                     /* 0x0000000000027919 */
                                                                                          /* 0x000e220000002100 */
        /*0020*/                   ULDC.64 UR4, c[0x0][0x118] ;                           /* 0x0000460000047ab9 */
                                                                                          /* 0x000fc60000000a00 */
        /*0030*/                   S2R R3, SR_CTAID.X ;                                   /* 0x0000000000037919 */
                                                                                          /* 0x000e240000002500 */
        /*0040*/                   IMAD R2, R3, c[0x0][0x0], R2 ;                         /* 0x0000000003027a24 */
                                                                                          /* 0x001fe200078e0202 */
        /*0050*/                   MOV R3, 0x4 ;                                          /* 0x0000000400037802 */
                                                                                          /* 0x000fc80000000f00 */
        /*0060*/                   LOP3.LUT R0, R2.reuse, c[0x0][0x168], RZ, 0xc0, !PT ;  /* 0x00005a0002007a12 */
                                                                                          /* 0x040fe200078ec0ff */
        /*0070*/                   IMAD.WIDE R2, R2, R3, c[0x0][0x160] ;                  /* 0x0000580002027625 */
                                                                                          /* 0x000fc600078e0203 */
        /*0080*/                   SHF.L.U32 R0, R0, c[0x0][0x16c], RZ ;                  /* 0x00005b0000007a19 */
                                                                                          /* 0x000fc800000006ff */
        /*0090*/                   LOP3.LUT R5, R0, c[0x0][0x168], RZ, 0x3c, !PT ;        /* 0x00005a0000057a12 */
                                                                                          /* 0x000fca00078e3cff */
        /*00a0*/                   STG.E [R2.64], R5 ;                                    /* 0x0000000502007986 */
                                                                                          /* 0x000fe2000c101904 */
        /*00b0*/                   EXIT ;                                                 /* 0x000000000000794d */
                                                                                          /* 0x000fea0003800000 */
        /*00c0*/                   BRA 0xc0;                                              /* 0xfffffff000007947 */
                                                                                          /* 0x000fc0000383ffff */
        /*00d0*/                   NOP;                                                   /* 0x0000000000007918 */
                                                                                          /* 0x000fc00000000000 */
        /*00e0*/                   NOP;                                                   /* 0x0000000000007918 */
                                                                                          /* 0x000fc00000000000 */
        /*00f0*/                   NOP;                                                   /* 0x0000000000007918 */
                                                                                          /* 0x000fc00000000000 */
        /*0100*/                   NOP;                                                   /* 0x0000000000007918 */
                                                                                          /* 0x000fc00000000000 */
        /*0110*/                   NOP;                                                   /* 0x0000000000007918 */
                                                                                          /* 0x000fc00000000000 */
        /*0120*/                   NOP;                                                   /* 0x0000000000007918 */
                                                                                          /* 0x000fc00000000000 */
        /*0130*/                   NOP;                                                   /* 0x0000000000007918 */
                                                                                          /* 0x000fc00000000000 */
        /*0140*/                   NOP;                                                   /* 0x0000000000007918 */
                                                                                          /* 0x000fc00000000000 */
        /*0150*/                   NOP;                                                   /* 0x0000000000007918 */
                                                                                          /* 0x000fc00000000000 */
        /*0160*/                   NOP;                                                   /* 0x0000000000007918 */
                                                                                          /* 0x000fc00000000000 */
        /*0170*/                   NOP;                                                   /* 0x0000000000007918 */
                                                                                          /* 0x000fc00000000000 */
		..........


		Function : probe_uniform_loop
	.headerflags	@"EF_CUDA_SM89 EF_CUDA_VIRTUAL_SM(EF_CUDA_SM89)"
        /*0000*/                   MOV R1, c[0x0][0x28] ;                                 /* 0x00000a0000017a02 */
                                                                                          /* 0x000fe40000000f00 */
        /*0010*/                   S2R R0, SR_CTAID.X ;                                   /* 0x0000000000007919 */
                                                                                          /* 0x000e280000002500 */
        /*0020*/                   S2R R3, SR_TID.X ;                                     /* 0x0000000000037919 */
                                                                                          /* 0x000e240000002100 */
        /*0030*/                   IMAD R0, R0, c[0x0][0x0], R3 ;                         /* 0x0000000000007a24 */
                                                                                          /* 0x001fca00078e0203 */
        /*0040*/                   ISETP.GE.AND P0, PT, R0, c[0x0][0x170], PT ;           /* 0x00005c0000007a0c */
                                                                                          /* 0x000fda0003f06270 */
        /*0050*/               @P0 EXIT ;                                                 /* 0x000000000000094d */
                                                                                          /* 0x000fea0003800000 */
        /*0060*/                   MOV R2, c[0x0][0x174] ;                                /* 0x00005d0000027a02 */
                                                                                          /* 0x000fe20000000f00 */
        /*0070*/                   ULDC.64 UR4, c[0x0][0x118] ;                           /* 0x0000460000047ab9 */
                                                                                          /* 0x000fe20000000a00 */
        /*0080*/                   MOV R5, 0x4 ;                                          /* 0x0000000400057802 */
                                                                                          /* 0x000fe40000000f00 */
        /*0090*/                   ISETP.GE.AND P0, PT, R2, 0x1, PT ;                     /* 0x000000010200780c */
                                                                                          /* 0x000fc60003f06270 */
        /*00a0*/                   IMAD.WIDE R4, R0, R5, c[0x0][0x168] ;                  /* 0x00005a0000047625 */
                                                                                          /* 0x000fe200078e0205 */
        /*00b0*/                   SHF.R.S32.HI R3, RZ, 0x1f, R0 ;                        /* 0x0000001fff037819 */
                                                                                          /* 0x000fca0000011400 */
        /*00c0*/                   LDG.E R5, [R4.64] ;                                    /* 0x0000000404057981 */
                                                                                          /* 0x000168000c1e1900 */
        /*00d0*/              @!P0 BRA 0x640 ;                                            /* 0x0000056000008947 */
                                                                                          /* 0x000fea0003800000 */
        /*00e0*/                   IADD3 R4, R2.reuse, -0x1, RZ ;                         /* 0xffffffff02047810 */
                                                                                          /* 0x041fe40007ffe0ff */
        /*00f0*/                   LOP3.LUT R2, R2, 0x3, RZ, 0xc0, !PT ;                  /* 0x0000000302027812 */
                                                                                          /* 0x000fe400078ec0ff */
        /*0100*/                   ISETP.GE.U32.AND P0, PT, R4, 0x3, PT ;                 /* 0x000000030400780c */
                                                                                          /* 0x000fda0003f06070 */
        /*0110*/              @!P0 BRA 0x5d0 ;                                            /* 0x000004b000008947 */
                                                                                          /* 0x000fea0003800000 */
        /*0120*/                   IADD3 R4, -R2, c[0x0][0x174], RZ ;                     /* 0x00005d0002047a10 */
                                                                                          /* 0x000fc80007ffe1ff */
        /*0130*/                   ISETP.GT.AND P0, PT, R4, RZ, PT ;                      /* 0x000000ff0400720c */
                                                                                          /* 0x000fda0003f04270 */
        /*0140*/              @!P0 BRA 0x520 ;                                            /* 0x000003d000008947 */
                                                                                          /* 0x000fea0003800000 */
        /*0150*/                   ISETP.GT.AND P1, PT, R4, 0xc, PT ;                     /* 0x0000000c0400780c */
                                                                                          /* 0x000fe40003f24270 */
        /*0160*/                   PLOP3.LUT P0, PT, PT, PT, PT, 0x80, 0x0 ;              /* 0x000000000000781c */
                                                                                          /* 0x000fd60003f0f070 */
        /*0170*/              @!P1 BRA 0x3c0 ;                                            /* 0x0000024000009947 */
                                                                                          /* 0x000fea0003800000 */
        /*0180*/                   PLOP3.LUT P0, PT, PT, PT, PT, 0x8, 0x0 ;               /* 0x000000000000781c */
                                                                                          /* 0x000fe40003f0e170 */
        /*0190*/                   FMUL R5, R5, 0.99900001287460327148 ;                  /* 0x3f7fbe7705057820 */
                                                                                          /* 0x020fe20000400000 */
        /*01a0*/                   IADD3 R4, R4, -0x10, RZ ;                              /* 0xfffffff004047810 */
                                                                                          /* 0x000fc60007ffe0ff */
        /*01b0*/                   FADD R5, R5, 0.0010000000474974513054 ;                /* 0x3a83126f05057421 */
                                                                                          /* 0x000fe20000000000 */
        /*01c0*/                   ISETP.GT.AND P1, PT, R4, 0xc, PT ;                     /* 0x0000000c0400780c */
                                                                                          /* 0x000fc60003f24270 */
        /*01d0*/                   FMUL R5, R5, 0.99900001287460327148 ;                  /* 0x3f7fbe7705057820 */
                                                                                          /* 0x000fc80000400000 */
        /*01e0*/                   FADD R5, R5, 0.0010000000474974513054 ;                /* 0x3a83126f05057421 */
                                                                                          /* 0x000fc80000000000 */
        /*01f0*/                   FMUL R5, R5, 0.99900001287460327148 ;                  /* 0x3f7fbe7705057820 */
                                                                                          /* 0x000fc80000400000 */
        /*0200*/                   FADD R5, R5, 0.0010000000474974513054 ;                /* 0x3a83126f05057421 */
                                                                                          /* 0x000fc80000000000 */
        /*0210*/                   FMUL R5, R5, 0.99900001287460327148 ;                  /* 0x3f7fbe7705057820 */
                                                                                          /* 0x000fc80000400000 */
        /*0220*/                   FADD R5, R5, 0.0010000000474974513054 ;                /* 0x3a83126f05057421 */
                                                                                          /* 0x000fc80000000000 */
        /*0230*/                   FMUL R5, R5, 0.99900001287460327148 ;                  /* 0x3f7fbe7705057820 */
                                                                                          /* 0x000fc80000400000 */
        /*0240*/                   FADD R5, R5, 0.0010000000474974513054 ;                /* 0x3a83126f05057421 */
                                                                                          /* 0x000fc80000000000 */
        /*0250*/                   FMUL R5, R5, 0.99900001287460327148 ;                  /* 0x3f7fbe7705057820 */
                                                                                          /* 0x000fc80000400000 */
        /*0260*/                   FADD R5, R5, 0.0010000000474974513054 ;                /* 0x3a83126f05057421 */
                                                                                          /* 0x000fc80000000000 */
        /*0270*/                   FMUL R5, R5, 0.99900001287460327148 ;                  /* 0x3f7fbe7705057820 */
                                                                                          /* 0x000fc80000400000 */
        /*0280*/                   FADD R5, R5, 0.0010000000474974513054 ;                /* 0x3a83126f05057421 */
                                                                                          /* 0x000fc80000000000 */
        /*0290*/                   FMUL R5, R5, 0.99900001287460327148 ;                  /* 0x3f7fbe7705057820 */
                                                                                          /* 0x000fc80000400000 */
        /*02a0*/                   FADD R5, R5, 0.0010000000474974513054 ;                /* 0x3a83126f05057421 */
                                                                                          /* 0x000fc80000000000 */
        /*02b0*/                   FMUL R5, R5, 0.99900001287460327148 ;                  /* 0x3f7fbe7705057820 */
                                                                                          /* 0x000fc80000400000 */
        /*02c0*/                   FADD R5, R5, 0.0010000000474974513054 ;                /* 0x3a83126f05057421 */
                                                                                          /* 0x000fc80000000000 */
        /*02d0*/                   FMUL R5, R5, 0.99900001287460327148 ;                  /* 0x3f7fbe7705057820 */
                                                                                          /* 0x000fc80000400000 */
        /*02e0*/                   FADD R5, R5, 0.0010000000474974513054 ;                /* 0x3a83126f05057421 */
                                                                                          /* 0x000fc80000000000 */
        /*02f0*/                   FMUL R5, R5, 0.99900001287460327148 ;                  /* 0x3f7fbe7705057820 */
                                                                                          /* 0x000fc80000400000 */
        /*0300*/                   FADD R5, R5, 0.0010000000474974513054 ;                /* 0x3a83126f05057421 */
                                                                                          /* 0x000fc80000000000 */
        /*0310*/                   FMUL R5, R5, 0.99900001287460327148 ;                  /* 0x3f7fbe7705057820 */
                                                                                          /* 0x000fc80000400000 */
        /*0320*/                   FADD R5, R5, 0.0010000000474974513054 ;                /* 0x3a83126f05057421 */
                                                                                          /* 0x000fc80000000000 */
        /*0330*/                   FMUL R5, R5, 0.99900001287460327148 ;                  /* 0x3f7fbe7705057820 */
                                                                                          /* 0x000fc80000400000 */
        /*0340*/                   FADD R5, R5, 0.0010000000474974513054 ;                /* 0x3a83126f05057421 */
                                                                                          /* 0x000fc80000000000 */
        /*0350*/                   FMUL R5, R5, 0.99900001287460327148 ;                  /* 0x3f7fbe7705057820 */
                                                                                          /* 0x000fc80000400000 */
        /*0360*/                   FADD R5, R5, 0.0010000000474974513054 ;                /* 0x3a83126f05057421 */
                                                                                          /* 0x000fc80000000000 */
        /*0370*/                   FMUL R5, R5, 0.99900001287460327148 ;                  /* 0x3f7fbe7705057820 */
                                                                                          /* 0x000fc80000400000 */
        /*0380*/                   FADD R5, R5, 0.0010000000474974513054 ;                /* 0x3a83126f05057421 */
                                                                                          /* 0x000fc80000000000 */
        /*0390*/                   FMUL R5, R5, 0.99900001287460327148 ;                  /* 0x3f7fbe7705057820 */
                                                                                          /* 0x000fc80000400000 */
        /*03a0*/                   FADD R5, R5, 0.0010000000474974513054 ;                /* 0x3a83126f05057421 */
                                                                                          /* 0x000fe20000000000 */
        /*03b0*/               @P1 BRA 0x190 ;                                            /* 0xfffffdd000001947 */
                                                                                          /* 0x000fea000383ffff */
        /*03c0*/                   ISETP.GT.AND P1, PT, R4, 0x4, PT ;                     /* 0x000000040400780c */
                                                                                          /* 0x000fda0003f24270 */
        /*03d0*/              @!P1 BRA 0x500 ;                                            /* 0x0000012000009947 */
                                                                                          /* 0x000fea0003800000 */
        /*03e0*/                   FMUL R5, R5, 0.99900001287460327148 ;                  /* 0x3f7fbe7705057820 */
                                                                                          /* 0x020fe20000400000 */
        /*03f0*/                   PLOP3.LUT P0, PT, PT, PT, PT, 0x8, 0x0 ;               /* 0x000000000000781c */
                                                                                          /* 0x000fe40003f0e170 */
        /*0400*/                   IADD3 R4, R4, -0x8, RZ ;                               /* 0xfffffff804047810 */
                                                                                          /* 0x000fe20007ffe0ff */
        /*0410*/                   FADD R5, R5, 0.0010000000474974513054 ;                /* 0x3a83126f05057421 */
                                                                                          /* 0x000fc80000000000 */
        /*0420*/                   FMUL R5, R5, 0.99900001287460327148 ;                  /* 0x3f7fbe7705057820 */
                                                                                          /* 0x000fc80000400000 */
        /*0430*/                   FADD R5, R5, 0.0010000000474974513054 ;                /* 0x3a83126f05057421 */
                                                                                          /* 0x000fc80000000000 */
        /*0440*/                   FMUL R5, R5, 0.99900001287460327148 ;                  /* 0x3f7fbe7705057820 */
                                                                                          /* 0x000fc80000400000 */
        /*0450*/                   FADD R5, R5, 0.0010000000474974513054 ;                /* 0x3a83126f05057421 */
                                                                                          /* 0x000fc80000000000 */
        /*0460*/                   FMUL R5, R5, 0.99900001287460327148 ;                  /* 0x3f7fbe7705057820 */
                                                                                          /* 0x000fc80000400000 */
        /*0470*/                   FADD R5, R5, 0.0010000000474974513054 ;                /* 0x3a83126f05057421 */
                                                                                          /* 0x000fc80000000000 */
        /*0480*/                   FMUL R5, R5, 0.99900001287460327148 ;                  /* 0x3f7fbe7705057820 */
                                                                                          /* 0x000fc80000400000 */
        /*0490*/                   FADD R5, R5, 0.0010000000474974513054 ;                /* 0x3a83126f05057421 */
                                                                                          /* 0x000fc80000000000 */
        /*04a0*/                   FMUL R5, R5, 0.99900001287460327148 ;                  /* 0x3f7fbe7705057820 */
                                                                                          /* 0x000fc80000400000 */
        /*04b0*/                   FADD R5, R5, 0.0010000000474974513054 ;                /* 0x3a83126f05057421 */
                                                                                          /* 0x000fc80000000000 */
        /*04c0*/                   FMUL R5, R5, 0.99900001287460327148 ;                  /* 0x3f7fbe7705057820 */
                                                                                          /* 0x000fc80000400000 */
        /*04d0*/                   FADD R5, R5, 0.0010000000474974513054 ;                /* 0x3a83126f05057421 */
                                                                                          /* 0x000fc80000000000 */
        /*04e0*/                   FMUL R5, R5, 0.99900001287460327148 ;                  /* 0x3f7fbe7705057820 */
                                                                                          /* 0x000fc80000400000 */
        /*04f0*/                   FADD R5, R5, 0.0010000000474974513054 ;                /* 0x3a83126f05057421 */
                                                                                          /* 0x000fe20000000000 */
        /*0500*/                   ISETP.NE.OR P0, PT, R4, RZ, P0 ;                       /* 0x000000ff0400720c */
                                                                                          /* 0x000fda0000705670 */
        /*0510*/              @!P0 BRA 0x5d0 ;                                            /* 0x000000b000008947 */
                                                                                          /* 0x000fea0003800000 */
        /*0520*/                   FMUL R5, R5, 0.99900001287460327148 ;                  /* 0x3f7fbe7705057820 */
                                                                                          /* 0x020fe20000400000 */
        /*0530*/                   IADD3 R4, R4, -0x4, RZ ;                               /* 0xfffffffc04047810 */
                                                                                          /* 0x000fc60007ffe0ff */
        /*0540*/                   FADD R5, R5, 0.0010000000474974513054 ;                /* 0x3a83126f05057421 */
                                                                                          /* 0x000fe20000000000 */
        /*0550*/                   ISETP.NE.AND P0, PT, R4, RZ, PT ;                      /* 0x000000ff0400720c */
                                                                                          /* 0x000fc60003f05270 */
        /*0560*/                   FMUL R5, R5, 0.99900001287460327148 ;                  /* 0x3f7fbe7705057820 */
                                                                                          /* 0x000fc80000400000 */
        /*0570*/                   FADD R5, R5, 0.0010000000474974513054 ;                /* 0x3a83126f05057421 */
                                                                                          /* 0x000fc80000000000 */
        /*0580*/                   FMUL R5, R5, 0.99900001287460327148 ;                  /* 0x3f7fbe7705057820 */
                                                                                          /* 0x000fc80000400000 */
        /*0590*/                   FADD R5, R5, 0.0010000000474974513054 ;                /* 0x3a83126f05057421 */
                                                                                          /* 0x000fc80000000000 */
        /*05a0*/                   FMUL R5, R5, 0.99900001287460327148 ;                  /* 0x3f7fbe7705057820 */
                                                                                          /* 0x000fc80000400000 */
        /*05b0*/                   FADD R5, R5, 0.0010000000474974513054 ;                /* 0x3a83126f05057421 */
                                                                                          /* 0x000fe20000000000 */
        /*05c0*/               @P0 BRA 0x520 ;                                            /* 0xffffff5000000947 */
                                                                                          /* 0x000fea000383ffff */
        /*05d0*/                   ISETP.NE.AND P0, PT, R2, RZ, PT ;                      /* 0x000000ff0200720c */
                                                                                          /* 0x000fda0003f05270 */
        /*05e0*/              @!P0 BRA 0x640 ;                                            /* 0x0000005000008947 */
                                                                                          /* 0x000fea0003800000 */
        /*05f0*/                   IADD3 R2, R2, -0x1, RZ ;                               /* 0xffffffff02027810 */
                                                                                          /* 0x000fe20007ffe0ff */
        /*0600*/                   FMUL R5, R5, 0.99900001287460327148 ;                  /* 0x3f7fbe7705057820 */
                                                                                          /* 0x020fc60000400000 */
        /*0610*/                   ISETP.NE.AND P0, PT, R2, RZ, PT ;                      /* 0x000000ff0200720c */
                                                                                          /* 0x000fe20003f05270 */
        /*0620*/                   FADD R5, R5, 0.0010000000474974513054 ;                /* 0x3a83126f05057421 */
                                                                                          /* 0x000fd80000000000 */
        /*0630*/               @P0 BRA 0x5f0 ;                                            /* 0xffffffb000000947 */
                                                                                          /* 0x000fea000383ffff */
        /*0640*/                   LEA R2, P0, R0, c[0x0][0x160], 0x2 ;                   /* 0x0000580000027a11 */
                                                                                          /* 0x000fc800078010ff */
        /*0650*/                   LEA.HI.X R3, R0, c[0x0][0x164], R3, 0x2, P0 ;          /* 0x0000590000037a11 */
                                                                                          /* 0x000fca00000f1403 */
        /*0660*/                   STG.E [R2.64], R5 ;                                    /* 0x0000000502007986 */
                                                                                          /* 0x020fe2000c101904 */
        /*0670*/                   EXIT ;                                                 /* 0x000000000000794d */
                                                                                          /* 0x000fea0003800000 */
        /*0680*/                   BRA 0x680;                                             /* 0xfffffff000007947 */
                                                                                          /* 0x000fc0000383ffff */
        /*0690*/                   NOP;                                                   /* 0x0000000000007918 */
                                                                                          /* 0x000fc00000000000 */
        /*06a0*/                   NOP;                                                   /* 0x0000000000007918 */
                                                                                          /* 0x000fc00000000000 */
        /*06b0*/                   NOP;                                                   /* 0x0000000000007918 */
                                                                                          /* 0x000fc00000000000 */
        /*06c0*/                   NOP;                                                   /* 0x0000000000007918 */
                                                                                          /* 0x000fc00000000000 */
        /*06d0*/                   NOP;                                                   /* 0x0000000000007918 */
                                                                                          /* 0x000fc00000000000 */
        /*06e0*/                   NOP;                                                   /* 0x0000000000007918 */
                                                                                          /* 0x000fc00000000000 */
        /*06f0*/                   NOP;                                                   /* 0x0000000000007918 */
                                                                                          /* 0x000fc00000000000 */
        /*0700*/                   NOP;                                                   /* 0x0000000000007918 */
                                                                                          /* 0x000fc00000000000 */
        /*0710*/                   NOP;                                                   /* 0x0000000000007918 */
                                                                                          /* 0x000fc00000000000 */
        /*0720*/                   NOP;                                                   /* 0x0000000000007918 */
                                                                                          /* 0x000fc00000000000 */
        /*0730*/                   NOP;                                                   /* 0x0000000000007918 */
                                                                                          /* 0x000fc00000000000 */
        /*0740*/                   NOP;                                                   /* 0x0000000000007918 */
                                                                                          /* 0x000fc00000000000 */
        /*0750*/                   NOP;                                                   /* 0x0000000000007918 */
                                                                                          /* 0x000fc00000000000 */
        /*0760*/                   NOP;                                                   /* 0x0000000000007918 */
                                                                                          /* 0x000fc00000000000 */
        /*0770*/                   NOP;                                                   /* 0x0000000000007918 */
                                                                                          /* 0x000fc00000000000 */
		..........


		Function : probe_uniform_branch
	.headerflags	@"EF_CUDA_SM89 EF_CUDA_VIRTUAL_SM(EF_CUDA_SM89)"
        /*0000*/                   IMAD.MOV.U32 R1, RZ, RZ, c[0x0][0x28] ;                /* 0x00000a00ff017624 */
                                                                                          /* 0x000fe400078e00ff */
        /*0010*/                   S2R R0, SR_CTAID.X ;                                   /* 0x0000000000007919 */
                                                                                          /* 0x000e280000002500 */
        /*0020*/                   S2R R3, SR_TID.X ;                                     /* 0x0000000000037919 */
                                                                                          /* 0x000e240000002100 */
        /*0030*/                   IMAD R0, R0, c[0x0][0x0], R3 ;                         /* 0x0000000000007a24 */
                                                                                          /* 0x001fca00078e0203 */
        /*0040*/                   ISETP.GE.AND P0, PT, R0, c[0x0][0x170], PT ;           /* 0x00005c0000007a0c */
                                                                                          /* 0x000fda0003f06270 */
        /*0050*/               @P0 EXIT ;                                                 /* 0x000000000000094d */
                                                                                          /* 0x000fea0003800000 */
        /*0060*/                   ISETP.NE.AND P0, PT, RZ, c[0x0][0x174], PT ;           /* 0x00005d00ff007a0c */
                                                                                          /* 0x000fe20003f05270 */
        /*0070*/                   ULDC.64 UR4, c[0x0][0x118] ;                           /* 0x0000460000047ab9 */
                                                                                          /* 0x000fe20000000a00 */
        /*0080*/                   MOV R3, 0x4 ;                                          /* 0x0000000400037802 */
                                                                                          /* 0x000fca0000000f00 */
        /*0090*/                   IMAD.WIDE R2, R0, R3, c[0x0][0x168] ;                  /* 0x00005a0000027625 */
                                                                                          /* 0x000fe200078e0203 */
        /*00a0*/                   SHF.R.S32.HI R7, RZ, 0x1f, R0 ;                        /* 0x0000001fff077819 */
                                                                                          /* 0x000fca0000011400 */
        /*00b0*/                   LDG.E R2, [R2.64] ;                                    /* 0x0000000402027981 */
                                                                                          /* 0x000162000c1e1900 */
        /*00c0*/              @!P0 BRA 0x160 ;                                            /* 0x0000009000008947 */
                                                                                          /* 0x000fea0003800000 */
        /*00d0*/                   IMAD.MOV.U32 R3, RZ, RZ, c[0x0][0x174] ;               /* 0x00005d00ff037624 */
                                                                                          /* 0x001fca00078e00ff */
        /*00e0*/                   ISETP.NE.AND P0, PT, R3, 0x1, PT ;                     /* 0x000000010300780c */
                                                                                          /* 0x000fda0003f05270 */
        /*00f0*/              @!P0 BRA 0x140 ;                                            /* 0x0000004000008947 */
                                                                                          /* 0x000fea0003800000 */
        /*0100*/                   ISETP.NE.AND P0, PT, R3, 0x2, PT ;                     /* 0x000000020300780c */
                                                                                          /* 0x000fda0003f05270 */
        /*0110*/              @!P0 FMUL R5, R2.reuse, R2 ;                                /* 0x0000000202058220 */
                                                                                          /* 0x060fe20000400000 */
        /*0120*/               @P0 FADD R5, -R2, -RZ ;                                    /* 0x800000ff02050221 */
                                                                                          /* 0x000fe20000000100 */
        /*0130*/                   BRA 0x170 ;                                            /* 0x0000003000007947 */
                                                                                          /* 0x000fea0003800000 */
        /*0140*/                   FADD R5, R2, 1 ;                                       /* 0x3f80000002057421 */
                                                                                          /* 0x020fe20000000000 */
        /*0150*/                   BRA 0x170 ;                                            /* 0x0000001000007947 */
                                                                                          /* 0x000fea0003800000 */
        /*0160*/                   FADD R5, R2, R2 ;                                      /* 0x0000000202057221 */
                                                                                          /* 0x020fe20000000000 */
        /*0170*/                   LEA R2, P0, R0, c[0x0][0x160], 0x2 ;                   /* 0x0000580000027a11 */
                                                                                          /* 0x000fc800078010ff */
        /*0180*/                   LEA.HI.X R3, R0, c[0x0][0x164], R7, 0x2, P0 ;          /* 0x0000590000037a11 */
                                                                                          /* 0x001fca00000f1407 */
        /*0190*/                   STG.E [R2.64], R5 ;                                    /* 0x0000000502007986 */
                                                                                          /* 0x000fe2000c101904 */
        /*01a0*/                   EXIT ;                                                 /* 0x000000000000794d */
                                                                                          /* 0x000fea0003800000 */
        /*01b0*/                   BRA 0x1b0;                                             /* 0xfffffff000007947 */
                                                                                          /* 0x000fc0000383ffff */
        /*01c0*/                   NOP;                                                   /* 0x0000000000007918 */
                                                                                          /* 0x000fc00000000000 */
        /*01d0*/                   NOP;                                                   /* 0x0000000000007918 */
                                                                                          /* 0x000fc00000000000 */
        /*01e0*/                   NOP;                                                   /* 0x0000000000007918 */
                                                                                          /* 0x000fc00000000000 */
        /*01f0*/                   NOP;                                                   /* 0x0000000000007918 */
                                                                                          /* 0x000fc00000000000 */
        /*0200*/                   NOP;                                                   /* 0x0000000000007918 */
                                                                                          /* 0x000fc00000000000 */
        /*0210*/                   NOP;                                                   /* 0x0000000000007918 */
                                                                                          /* 0x000fc00000000000 */
        /*0220*/                   NOP;                                                   /* 0x0000000000007918 */
                                                                                          /* 0x000fc00000000000 */
        /*0230*/                   NOP;                                                   /* 0x0000000000007918 */
                                                                                          /* 0x000fc00000000000 */
        /*0240*/                   NOP;                                                   /* 0x0000000000007918 */
                                                                                          /* 0x000fc00000000000 */
        /*0250*/                   NOP;                                                   /* 0x0000000000007918 */
                                                                                          /* 0x000fc00000000000 */
        /*0260*/                   NOP;                                                   /* 0x0000000000007918 */
                                                                                          /* 0x000fc00000000000 */
        /*0270*/                   NOP;                                                   /* 0x0000000000007918 */
                                                                                          /* 0x000fc00000000000 */
		..........


		Function : probe_uniform_address
	.headerflags	@"EF_CUDA_SM89 EF_CUDA_VIRTUAL_SM(EF_CUDA_SM89)"
        /*0000*/                   MOV R1, c[0x0][0x28] ;                                 /* 0x00000a0000017a02 */
                                                                                          /* 0x000fe40000000f00 */
        /*0010*/                   S2R R0, SR_CTAID.X ;                                   /* 0x0000000000007919 */
                                                                                          /* 0x000e220000002500 */
        /*0020*/                   MOV R5, c[0x0][0x0] ;                                  /* 0x0000000000057a02 */
                                                                                          /* 0x000fe20000000f00 */
        /*0030*/                   ULDC.64 UR4, c[0x0][0x118] ;                           /* 0x0000460000047ab9 */
                                                                                          /* 0x000fe40000000a00 */
        /*0040*/                   S2R R3, SR_TID.X ;                                     /* 0x0000000000037919 */
                                                                                          /* 0x000e640000002100 */
        /*0050*/                   IMAD R0, R0, R5, c[0x0][0x174] ;                       /* 0x00005d0000007624 */
                                                                                          /* 0x001fe200078e0205 */
        /*0060*/                   MOV R5, 0x4 ;                                          /* 0x0000000400057802 */
                                                                                          /* 0x000fc60000000f00 */
        /*0070*/                   IMAD R0, R3, c[0x0][0x170], R0 ;                       /* 0x00005c0003007a24 */
                                                                                          /* 0x002fc800078e0200 */
        /*0080*/                   IMAD.WIDE R2, R0, R5, c[0x0][0x168] ;                  /* 0x00005a0000027625 */
                                                                                          /* 0x000fcc00078e0205 */
        /*0090*/                   LDG.E R2, [R2.64] ;                                    /* 0x0000000402027981 */
                                                                                          /* 0x000ea2000c1e1900 */
        /*00a0*/                   IMAD.WIDE R4, R0, R5, c[0x0][0x160] ;                  /* 0x0000580000047625 */
                                                                                          /* 0x000fe200078e0205 */
        /*00b0*/                   FADD R7, R2, R2 ;                                      /* 0x0000000202077221 */
                                                                                          /* 0x004fca0000000000 */
        /*00c0*/                   STG.E [R4.64], R7 ;                                    /* 0x0000000704007986 */
                                                                                          /* 0x000fe2000c101904 */
        /*00d0*/                   EXIT ;                                                 /* 0x000000000000794d */
                                                                                          /* 0x000fea0003800000 */
        /*00e0*/                   BRA 0xe0;                                              /* 0xfffffff000007947 */
                                                                                          /* 0x000fc0000383ffff */
        /*00f0*/                   NOP;                                                   /* 0x0000000000007918 */
                                                                                          /* 0x000fc00000000000 */
        /*0100*/                   NOP;                                                   /* 0x0000000000007918 */
                                                                                          /* 0x000fc00000000000 */
        /*0110*/                   NOP;                                                   /* 0x0000000000007918 */
                                                                                          /* 0x000fc00000000000 */
        /*0120*/                   NOP;                                                   /* 0x0000000000007918 */
                                                                                          /* 0x000fc00000000000 */
        /*0130*/                   NOP;                                                   /* 0x0000000000007918 */
                                                                                          /* 0x000fc00000000000 */
        /*0140*/                   NOP;                                                   /* 0x0000000000007918 */
                                                                                          /* 0x000fc00000000000 */
        /*0150*/                   NOP;                                                   /* 0x0000000000007918 */
                                                                                          /* 0x000fc00000000000 */
        /*0160*/                   NOP;                                                   /* 0x0000000000007918 */
                                                                                          /* 0x000fc00000000000 */
        /*0170*/                   NOP;                                                   /* 0x0000000000007918 */
                                                                                          /* 0x000fc00000000000 */
		..........


