
	code for sm_89
	.target	sm_89

		Function : probe_i2i
	.headerflags	@"EF_CUDA_SM89 EF_CUDA_VIRTUAL_SM(EF_CUDA_SM89)"
        /*0000*/                   IMAD.MOV.U32 R1, RZ, RZ, c[0x0][0x28] ;         /* 0x00000a00ff017624 */
                                                                                   /* 0x000fe400078e00ff */
        /*0010*/                   S2R R4, SR_TID.X ;                              /* 0x0000000000047919 */
                                                                                   /* 0x000e220000002100 */
        /*0020*/                   MOV R3, 0x2 ;                                   /* 0x0000000200037802 */
                                                                                   /* 0x000fe20000000f00 */
        /*0030*/                   ULDC.64 UR4, c[0x0][0x118] ;                    /* 0x0000460000047ab9 */
                                                                                   /* 0x000fe20000000a00 */
        /*0040*/                   IADD3 R6, P0, R4, c[0x0][0x170], RZ ;           /* 0x00005c0004067a10 */
                                                                                   /* 0x001fc60007f1e0ff */
        /*0050*/                   IMAD.WIDE R2, R4.reuse, R3, c[0x0][0x168] ;     /* 0x00005a0004027625 */
                                                                                   /* 0x040fe200078e0203 */
        /*0060*/                   LEA.HI.X.SX32 R7, R4, c[0x0][0x174], 0x1, P0 ;  /* 0x00005d0004077a11 */
                                                                                   /* 0x000fca00000f0eff */
        /*0070*/                   LDG.E.U16 R2, [R2.64] ;                         /* 0x0000000402027981 */
                                                                                   /* 0x000ea8000c1e1500 */
        /*0080*/                   LDG.E.U8 R6, [R6.64] ;                          /* 0x0000000406067981 */
                                                                                   /* 0x000ee2000c1e1100 */
        /*0090*/                   IMAD.MOV.U32 R5, RZ, RZ, 0x4 ;                  /* 0x00000004ff057424 */
                                                                                   /* 0x000fc800078e00ff */
        /*00a0*/                   IMAD.WIDE R4, R4, R5, c[0x0][0x160] ;           /* 0x0000580004047625 */
                                                                                   /* 0x000fe200078e0205 */
        /*00b0*/                   PRMT R9, R2, 0x9910, RZ ;                       /* 0x0000991002097816 */
                                                                                   /* 0x004fe400000000ff */
        /*00c0*/                   PRMT R0, R6, 0x8880, RZ ;                       /* 0x0000888006007816 */
                                                                                   /* 0x008fc800000000ff */
        /*00d0*/                   LEA R9, R9, R0, 0x1 ;                           /* 0x0000000009097211 */
                                                                                   /* 0x000fca00078e08ff */
        /*00e0*/                   IMAD.IADD R9, R6, 0x1, R9 ;                     /* 0x0000000106097824 */
                                                                                   /* 0x000fca00078e0209 */
        /*00f0*/                   STG.E [R4.64], R9 ;                             /* 0x0000000904007986 */
                                                                                   /* 0x000fe2000c101904 */
        /*0100*/                   EXIT ;                                          /* 0x000000000000794d */
                                                                                   /* 0x000fea0003800000 */
        /*0110*/                   BRA 0x110;                                      /* 0xfffffff000007947 */
                                                                                   /* 0x000fc0000383ffff */
        /*0120*/                   NOP;                                            /* 0x0000000000007918 */
                                                                                   /* 0x000fc00000000000 */
        /*0130*/                   NOP;                                            /* 0x0000000000007918 */
                                                                                   /* 0x000fc00000000000 */
        /*0140*/                   NOP;                                            /* 0x0000000000007918 */
                                                                                   /* 0x000fc00000000000 */
        /*0150*/                   NOP;                                            /* 0x0000000000007918 */
                                                                                   /* 0x000fc00000000000 */
        /*0160*/                   NOP;                                            /* 0x0000000000007918 */
                                                                                   /* 0x000fc00000000000 */
        /*0170*/                   NOP;                                            /* 0x0000000000007918 */
                                                                                   /* 0x000fc00000000000 */
        /*0180*/                   NOP;                                            /* 0x0000000000007918 */
                                                                                   /* 0x000fc00000000000 */
        /*0190*/                   NOP;                                            /* 0x0000000000007918 */
                                                                                   /* 0x000fc00000000000 */
        /*01a0*/                   NOP;                                            /* 0x0000000000007918 */
                                                                                   /* 0x000fc00000000000 */
        /*01b0*/                   NOP;                                            /* 0x0000000000007918 */
                                                                                   /* 0x000fc00000000000 */
        /*01c0*/                   NOP;                                            /* 0x0000000000007918 */
                                                                                   /* 0x000fc00000000000 */
        /*01d0*/                   NOP;                                            /* 0x0000000000007918 */
                                                                                   /* 0x000fc00000000000 */
        /*01e0*/                   NOP;                                            /* 0x0000000000007918 */
                                                                                   /* 0x000fc00000000000 */
        /*01f0*/                   NOP;                                            /* 0x0000000000007918 */
                                                                                   /* 0x000fc00000000000 */
		..........


		Function : probe_f2f_fp64
	.headerflags	@"EF_CUDA_SM89 EF_CUDA_VIRTUAL_SM(EF_CUDA_SM89)"
        /*0000*/                   MOV R1, c[0x0][0x28] ;                          /* 0x00000a0000017a02 */
                                                                                   /* 0x000fe40000000f00 */
        /*0010*/                   S2R R0, SR_TID.X ;                              /* 0x0000000000007919 */
                                                                                   /* 0x000e220000002100 */
        /*0020*/                   MOV R13, 0x8 ;                                  /* 0x00000008000d7802 */
                                                                                   /* 0x000fe20000000f00 */
        /*0030*/                   ULDC.64 UR4, c[0x0][0x118] ;                    /* 0x0000460000047ab9 */
                                                                                   /* 0x000fe20000000a00 */
        /*0040*/                   MOV R3, 0x4 ;                                   /* 0x0000000400037802 */
                                                                                   /* 0x000fc60000000f00 */
        /*0050*/                   IMAD.WIDE R4, R0, R13, c[0x0][0x170] ;          /* 0x00005c0000047625 */
                                                                                   /* 0x001fc800078e020d */
        /*0060*/                   IMAD.WIDE R2, R0, R3, c[0x0][0x168] ;           /* 0x00005a0000027625 */
                                                                                   /* 0x000fe400078e0203 */
        /*0070*/                   LDG.E.64 R4, [R4.64] ;                          /* 0x0000000404047981 */
                                                                                   /* 0x000ea8000c1e1b00 */
        /*0080*/                   LDG.E R2, [R2.64] ;                             /* 0x0000000402027981 */
                                                                                   /* 0x000ee2000c1e1900 */
        /*0090*/                   F2F.F32.F64 R10, R4 ;                           /* 0x00000004000a7310 */
                                                                                   /* 0x004e300000301000 */
        /*00a0*/                   F2F.F64.F32 R6, R2 ;                            /* 0x0000000200067310 */
                                                                                   /* 0x008e700000201800 */
        /*00b0*/                   F2F.F64.F32 R10, R10 ;                          /* 0x0000000a000a7310 */
                                                                                   /* 0x001e220000201800 */
        /*00c0*/                   DADD R8, R4, R6 ;                               /* 0x0000000004087229 */
                                                                                   /* 0x002fc80000000006 */
        /*00d0*/                   DMUL R6, R4, R6 ;                               /* 0x0000000604067228 */
                                                                                   /* 0x000e4c0000000000 */
        /*00e0*/                   DADD R6, R8, R6 ;                               /* 0x0000000008067229 */
                                                                                   /* 0x0022240000000006 */
        /*00f0*/                   IMAD.WIDE R8, R0, R13, c[0x0][0x160] ;          /* 0x0000580000087625 */
                                                                                   /* 0x002fc800078e020d */
        /*0100*/                   DADD R6, R6, R10 ;                              /* 0x0000000006067229 */
                                                                                   /* 0x001e0e000000000a */
        /*0110*/                   STG.E.64 [R8.64], R6 ;                          /* 0x0000000608007986 */
                                                                                   /* 0x001fe2000c101b04 */
        /*0120*/                   EXIT ;                                          /* 0x000000000000794d */
                                                                                   /* 0x000fea0003800000 */
        /*0130*/                   BRA 0x130;                                      /* 0xfffffff000007947 */
                                                                                   /* 0x000fc0000383ffff */
        /*0140*/                   NOP;                                            /* 0x0000000000007918 */
                                                                                   /* 0x000fc00000000000 */
        /*0150*/                   NOP;                                            /* 0x0000000000007918 */
                                                                                   /* 0x000fc00000000000 */
        /*0160*/                   NOP;                                            /* 0x0000000000007918 */
                                                                                   /* 0x000fc00000000000 */
        /*0170*/                   NOP;                                            /* 0x0000000000007918 */
                                                                                   /* 0x000fc00000000000 */
        /*0180*/                   NOP;                                            /* 0x0000000000007918 */
                                                                                   /* 0x000fc00000000000 */
        /*0190*/                   NOP;                                            /* 0x0000000000007918 */
                                                                                   /* 0x000fc00000000000 */
        /*01a0*/                   NOP;                                            /* 0x0000000000007918 */
                                                                                   /* 0x000fc00000000000 */
        /*01b0*/                   NOP;                                            /* 0x0000000000007918 */
                                                                                   /* 0x000fc00000000000 */
        /*01c0*/                   NOP;                                            /* 0x0000000000007918 */
                                                                                   /* 0x000fc00000000000 */
        /*01d0*/                   NOP;                                            /* 0x0000000000007918 */
                                                                                   /* 0x000fc00000000000 */
        /*01e0*/                   NOP;                                            /* 0x0000000000007918 */
                                                                                   /* 0x000fc00000000000 */
        /*01f0*/                   NOP;                                            /* 0x0000000000007918 */
                                                                                   /* 0x000fc00000000000 */
		..........


		Function : probe_f2f_fp16
	.headerflags	@"EF_CUDA_SM89 EF_CUDA_VIRTUAL_SM(EF_CUDA_SM89)"
        /*0000*/                   MOV R1, c[0x0][0x28] ;                          /* 0x00000a0000017a02 */
                                                                                   /* 0x000fe40000000f00 */
        /*0010*/                   S2R R8, SR_TID.X ;                              /* 0x0000000000087919 */
                                                                                   /* 0x000e220000002100 */
        /*0020*/                   MOV R11, 0x4 ;                                  /* 0x00000004000b7802 */
                                                                                   /* 0x000fe20000000f00 */
        /*0030*/                   ULDC.64 UR4, c[0x0][0x118] ;                    /* 0x0000460000047ab9 */
                                                                                   /* 0x000fc80000000a00 */
        /*0040*/                   IMAD.WIDE R2, R8, R11, c[0x0][0x168] ;          /* 0x00005a0008027625 */
                                                                                   /* 0x001fca00078e020b */
        /*0050*/                   LDG.E R0, [R2.64] ;                             /* 0x0000000402007981 */
                                                                                   /* 0x000ea4000c1e1900 */
        /*0060*/                   F2F.F16.F32.RM R6, R0 ;                         /* 0x0000000000067304 */
                                                                                   /* 0x004e220000204800 */
        /*0070*/                   F2FP.F16.F32.PACK_AB R3, RZ, R0.reuse ;         /* 0x00000000ff03723e */
                                                                                   /* 0x080fe400000000ff */
        /*0080*/                   F2FP.F16.F32.PACK_AB.RZ R5, RZ, R0 ;            /* 0x00000000ff05723e */
                                                                                   /* 0x000fc600000180ff */
        /*0090*/                   HADD2.F32 R4, -RZ, R3.H0_H0 ;                   /* 0x20000003ff047230 */
                                                                                   /* 0x000fe40000004100 */
        /*00a0*/                   F2F.F16.F32.RP R7, R0 ;                         /* 0x0000000000077304 */
                                                                                   /* 0x000e620000208800 */
        /*00b0*/                   HADD2.F32 R5, -RZ, R5.H0_H0 ;                   /* 0x20000005ff057230 */
                                                                                   /* 0x000fe40000004100 */
        /*00c0*/                   FADD R4, R4, R4 ;                               /* 0x0000000404047221 */
                                                                                   /* 0x000fe20000000000 */
        /*00d0*/                   IMAD.WIDE R2, R8, R11, c[0x0][0x160] ;          /* 0x0000580008027625 */
                                                                                   /* 0x000fc600078e020b */
        /*00e0*/                   FADD R4, R4, R5 ;                               /* 0x0000000504047221 */
                                                                                   /* 0x000fe20000000000 */
        /*00f0*/                   HADD2.F32 R9, -RZ, R6.H0_H0 ;                   /* 0x20000006ff097230 */
                                                                                   /* 0x001fca0000004100 */
        /*0100*/                   FADD R4, R4, R9 ;                               /* 0x0000000904047221 */
                                                                                   /* 0x000fe20000000000 */
        /*0110*/                   HADD2.F32 R7, -RZ, R7.H0_H0 ;                   /* 0x20000007ff077230 */
                                                                                   /* 0x002fca0000004100 */
        /*0120*/                   FADD R7, R4, R7 ;                               /* 0x0000000704077221 */
                                                                                   /* 0x000fca0000000000 */
        /*0130*/                   STG.E [R2.64], R7 ;                             /* 0x0000000702007986 */
                                                                                   /* 0x000fe2000c101904 */
        /*0140*/                   EXIT ;                                          /* 0x000000000000794d */
                                                                                   /* 0x000fea0003800000 */
        /*0150*/                   BRA 0x150;                                      /* 0xfffffff000007947 */
                                                                                   /* 0x000fc0000383ffff */
        /*0160*/                   NOP;                                            /* 0x0000000000007918 */
                                                                                   /* 0x000fc00000000000 */
        /*0170*/                   NOP;                                            /* 0x0000000000007918 */
                                                                                   /* 0x000fc00000000000 */
        /*0180*/                   NOP;                                            /* 0x0000000000007918 */
                                                                                   /* 0x000fc00000000000 */
        /*0190*/                   NOP;                                            /* 0x0000000000007918 */
                                                                                   /* 0x000fc00000000000 */
        /*01a0*/                   NOP;                                            /* 0x0000000000007918 */
                                                                                   /* 0x000fc00000000000 */
        /*01b0*/                   NOP;                                            /* 0x0000000000007918 */
                                                                                   /* 0x000fc00000000000 */
        /*01c0*/                   NOP;                                            /* 0x0000000000007918 */
                                                                                   /* 0x000fc00000000000 */
        /*01d0*/                   NOP;                                            /* 0x0000000000007918 */
                                                                                   /* 0x000fc00000000000 */
        /*01e0*/                   NOP;                                            /* 0x0000000000007918 */
                                                                                   /* 0x000fc00000000000 */
        /*01f0*/                   NOP;                                            /* 0x0000000000007918 */
                                                                                   /* 0x000fc00000000000 */
		..........


		Function : probe_i2f
	.headerflags	@"EF_CUDA_SM89 EF_CUDA_VIRTUAL_SM(EF_CUDA_SM89)"
        /*0000*/                   MOV R1, c[0x0][0x28] ;                          /* 0x00000a0000017a02 */
                                                                                   /* 0x000fe40000000f00 */
        /*0010*/                   S2R R8, SR_TID.X ;                              /* 0x0000000000087919 */
                                                                                   /* 0x000e220000002100 */
        /*0020*/                   MOV R9, 0x4 ;                                   /* 0x0000000400097802 */
                                                                                   /* 0x000fe20000000f00 */
        /*0030*/                   ULDC.64 UR4, c[0x0][0x118] ;                    /* 0x0000460000047ab9 */
                                                                                   /* 0x000fc80000000a00 */
        /*0040*/                   IMAD.WIDE R2, R8, R9, c[0x0][0x168] ;           /* 0x00005a0008027625 */
                                                                                   /* 0x001fcc00078e0209 */
        /*0050*/                   LDG.E R2, [R2.64] ;                             /* 0x0000000402027981 */
                                                                                   /* 0x000ea4000c1e1900 */
        /*0060*/                   I2F.RM R4, R2 ;                                 /* 0x0000000200047306 */
                                                                                   /* 0x004e220000205400 */
        /*0070*/                   I2FP.F32.S32 R0, R2.reuse ;                     /* 0x0000000200007245 */
                                                                                   /* 0x080fe40000201400 */
        /*0080*/                   I2FP.F32.S32.RZ R5, R2 ;                        /* 0x0000000200057245 */
                                                                                   /* 0x000fca000020d400 */
        /*0090*/                   I2F.RP R6, R2 ;                                 /* 0x0000000200067306 */
                                                                                   /* 0x000e620000209400 */
        /*00a0*/                   FADD R5, R0, R5 ;                               /* 0x0000000500057221 */
                                                                                   /* 0x000fe20000000000 */
        /*00b0*/                   I2FP.F32.U32 R0, R2 ;                           /* 0x0000000200007245 */
                                                                                   /* 0x000fc60000201000 */
        /*00c0*/                   FADD R5, R4, R5 ;                               /* 0x0000000504057221 */
                                                                                   /* 0x001fc80000000000 */
        /*00d0*/                   FADD R7, R6, R5 ;                               /* 0x0000000506077221 */
                                                                                   /* 0x002fe20000000000 */
        /*00e0*/                   IMAD.WIDE R4, R8, R9, c[0x0][0x160] ;           /* 0x0000580008047625 */
                                                                                   /* 0x000fc600078e0209 */
        /*00f0*/                   FADD R7, R0, R7 ;                               /* 0x0000000700077221 */
                                                                                   /* 0x000fca0000000000 */
        /*0100*/                   STG.E [R4.64], R7 ;                             /* 0x0000000704007986 */
                                                                                   /* 0x000fe2000c101904 */
        /*0110*/                   EXIT ;                                          /* 0x000000000000794d */
                                                                                   /* 0x000fea0003800000 */
        /*0120*/                   BRA 0x120;                                      /* 0xfffffff000007947 */
                                                                                   /* 0x000fc0000383ffff */
        /*0130*/                   NOP;                                            /* 0x0000000000007918 */
                                                                                   /* 0x000fc00000000000 */
        /*0140*/                   NOP;                                            /* 0x0000000000007918 */
                                                                                   /* 0x000fc00000000000 */
        /*0150*/                   NOP;                                            /* 0x0000000000007918 */
                                                                                   /* 0x000fc00000000000 */
        /*0160*/                   NOP;                                            /* 0x0000000000007918 */
                                                                                   /* 0x000fc00000000000 */
        /*0170*/                   NOP;                                            /* 0x0000000000007918 */
                                                                                   /* 0x000fc00000000000 */
        /*0180*/                   NOP;                                            /* 0x0000000000007918 */
                                                                                   /* 0x000fc00000000000 */
        /*0190*/                   NOP;                                            /* 0x0000000000007918 */
                                                                                   /* 0x000fc00000000000 */
        /*01a0*/                   NOP;                                            /* 0x0000000000007918 */
                                                                                   /* 0x000fc00000000000 */
        /*01b0*/                   NOP;                                            /* 0x0000000000007918 */
                                                                                   /* 0x000fc00000000000 */
        /*01c0*/                   NOP;                                            /* 0x0000000000007918 */
                                                                                   /* 0x000fc00000000000 */
        /*01d0*/                   NOP;                                            /* 0x0000000000007918 */
                                                                                   /* 0x000fc00000000000 */
        /*01e0*/                   NOP;                                            /* 0x0000000000007918 */
                                                                                   /* 0x000fc00000000000 */
        /*01f0*/                   NOP;                                            /* 0x0000000000007918 */
                                                                                   /* 0x000fc00000000000 */
		..........


		Function : probe_f2i
	.headerflags	@"EF_CUDA_SM89 EF_CUDA_VIRTUAL_SM(EF_CUDA_SM89)"
        /*0000*/                   MOV R1, c[0x0][0x28] ;                          /* 0x00000a0000017a02 */
                                                                                   /* 0x000fe40000000f00 */
        /*0010*/                   S2R R9, SR_TID.X ;                              /* 0x0000000000097919 */
                                                                                   /* 0x000e220000002100 */
        /*0020*/                   MOV R10, 0x4 ;                                  /* 0x00000004000a7802 */
                                                                                   /* 0x000fe20000000f00 */
        /*0030*/                   ULDC.64 UR4, c[0x0][0x118] ;                    /* 0x0000460000047ab9 */
                                                                                   /* 0x000fc80000000a00 */
        /*0040*/                   IMAD.WIDE R2, R9, R10, c[0x0][0x168] ;          /* 0x00005a0009027625 */
                                                                                   /* 0x001fcc00078e020a */
        /*0050*/                   LDG.E R2, [R2.64] ;                             /* 0x0000000402027981 */
                                                                                   /* 0x000ea4000c1e1900 */
        /*0060*/                   F2I.TRUNC.NTZ R0, R2 ;                          /* 0x0000000200007305 */
                                                                                   /* 0x004ff0000020f100 */
        /*0070*/                   F2I.NTZ R5, R2 ;                                /* 0x0000000200057305 */
                                                                                   /* 0x000ff00000203100 */
        /*0080*/                   F2I.FLOOR.NTZ R4, R2 ;                          /* 0x0000000200047305 */
                                                                                   /* 0x000e300000207100 */
        /*0090*/                   F2I.CEIL.NTZ R6, R2 ;                           /* 0x0000000200067305 */
                                                                                   /* 0x000ff0000020b100 */
        /*00a0*/                   F2I.U32.TRUNC.NTZ R7, R2 ;                      /* 0x0000000200077305 */
                                                                                   /* 0x000e62000020f000 */
        /*00b0*/                   IADD3 R0, R4, R5, R0 ;                          /* 0x0000000504007210 */
                                                                                   /* 0x001fe20007ffe000 */
        /*00c0*/                   IMAD.WIDE R4, R9, R10, c[0x0][0x160] ;          /* 0x0000580009047625 */
                                                                                   /* 0x000fcc00078e020a */
        /*00d0*/                   F2I.U32.NTZ R8, R2 ;                            /* 0x0000000200087305 */
                                                                                   /* 0x000e220000203000 */
        /*00e0*/                   IADD3 R7, R7, R0, R6 ;                          /* 0x0000000007077210 */
                                                                                   /* 0x002fc80007ffe006 */
        /*00f0*/                   IADD3 R7, R8, R7, RZ ;                          /* 0x0000000708077210 */
                                                                                   /* 0x001fca0007ffe0ff */
        /*0100*/                   STG.E [R4.64], R7 ;                             /* 0x0000000704007986 */
                                                                                   /* 0x000fe2000c101904 */
        /*0110*/                   EXIT ;                                          /* 0x000000000000794d */
                                                                                   /* 0x000fea0003800000 */
        /*0120*/                   BRA 0x120;                                      /* 0xfffffff000007947 */
                                                                                   /* 0x000fc0000383ffff */
        /*0130*/                   NOP;                                            /* 0x0000000000007918 */
                                                                                   /* 0x000fc00000000000 */
        /*0140*/                   NOP;                                            /* 0x0000000000007918 */
                                                                                   /* 0x000fc00000000000 */
        /*0150*/                   NOP;                                            /* 0x0000000000007918 */
                                                                                   /* 0x000fc00000000000 */
        /*0160*/                   NOP;                                            /* 0x0000000000007918 */
                                                                                   /* 0x000fc00000000000 */
        /*0170*/                   NOP;                                            /* 0x0000000000007918 */
                                                                                   /* 0x000fc00000000000 */
        /*0180*/                   NOP;                                            /* 0x0000000000007918 */
                                                                                   /* 0x000fc00000000000 */
        /*0190*/                   NOP;                                            /* 0x0000000000007918 */
                                                                                   /* 0x000fc00000000000 */
        /*01a0*/                   NOP;                                            /* 0x0000000000007918 */
                                                                                   /* 0x000fc00000000000 */
        /*01b0*/                   NOP;                                            /* 0x0000000000007918 */
                                                                                   /* 0x000fc00000000000 */
        /*01c0*/                   NOP;                                            /* 0x0000000000007918 */
                                                                                   /* 0x000fc00000000000 */
        /*01d0*/                   NOP;                                            /* 0x0000000000007918 */
                                                                                   /* 0x000fc00000000000 */
        /*01e0*/                   NOP;                                            /* 0x0000000000007918 */
                                                                                   /* 0x000fc00000000000 */
        /*01f0*/                   NOP;                                            /* 0x0000000000007918 */
                                                                                   /* 0x000fc00000000000 */
		..........


