
	code for sm_89
	.target	sm_89

		Function : probe_imnmx
	.headerflags	@"EF_CUDA_SM89 EF_CUDA_VIRTUAL_SM(EF_CUDA_SM89)"
        /*0000*/                   MOV R1, c[0x0][0x28] ;                             /* 0x00000a0000017a02 */
                                                                                      /* 0x000fe40000000f00 */
        /*0010*/                   S2R R4, SR_TID.X ;                                 /* 0x0000000000047919 */
                                                                                      /* 0x000e220000002100 */
        /*0020*/                   MOV R5, 0x4 ;                                      /* 0x0000000400057802 */
                                                                                      /* 0x000fe20000000f00 */
        /*0030*/                   ULDC.64 UR4, c[0x0][0x118] ;                       /* 0x0000460000047ab9 */
                                                                                      /* 0x000fc80000000a00 */
        /*0040*/                   IMAD.WIDE R2, R4, R5, c[0x0][0x170] ;              /* 0x00005c0004027625 */
                                                                                      /* 0x001fcc00078e0205 */
        /*0050*/                   LDG.E R3, [R2.64] ;                                /* 0x0000000402037981 */
                                                                                      /* 0x000ea2000c1e1900 */
        /*0060*/                   IMAD.WIDE R4, R4, R5, c[0x0][0x160] ;              /* 0x0000580004047625 */
                                                                                      /* 0x000fca00078e0205 */
        /*0070*/                   STG.E [R4.64], R3 ;                                /* 0x0000000304007986 */
                                                                                      /* 0x004fe2000c101904 */
        /*0080*/                   EXIT ;                                             /* 0x000000000000794d */
                                                                                      /* 0x000fea0003800000 */
        /*0090*/                   BRA 0x90;                                          /* 0xfffffff000007947 */
                                                                                      /* 0x000fc0000383ffff */
        /*00a0*/                   NOP;                                               /* 0x0000000000007918 */
                                                                                      /* 0x000fc00000000000 */
        /*00b0*/                   NOP;                                               /* 0x0000000000007918 */
                                                                                      /* 0x000fc00000000000 */
        /*00c0*/                   NOP;                                               /* 0x0000000000007918 */
                                                                                      /* 0x000fc00000000000 */
        /*00d0*/                   NOP;                                               /* 0x0000000000007918 */
                                                                                      /* 0x000fc00000000000 */
        /*00e0*/                   NOP;                                               /* 0x0000000000007918 */
                                                                                      /* 0x000fc00000000000 */
        /*00f0*/                   NOP;                                               /* 0x0000000000007918 */
                                                                                      /* 0x000fc00000000000 */
        /*0100*/                   NOP;                                               /* 0x0000000000007918 */
                                                                                      /* 0x000fc00000000000 */
        /*0110*/                   NOP;                                               /* 0x0000000000007918 */
                                                                                      /* 0x000fc00000000000 */
        /*0120*/                   NOP;                                               /* 0x0000000000007918 */
                                                                                      /* 0x000fc00000000000 */
        /*0130*/                   NOP;                                               /* 0x0000000000007918 */
                                                                                      /* 0x000fc00000000000 */
        /*0140*/                   NOP;                                               /* 0x0000000000007918 */
                                                                                      /* 0x000fc00000000000 */
        /*0150*/                   NOP;                                               /* 0x0000000000007918 */
                                                                                      /* 0x000fc00000000000 */
        /*0160*/                   NOP;                                               /* 0x0000000000007918 */
                                                                                      /* 0x000fc00000000000 */
        /*0170*/                   NOP;                                               /* 0x0000000000007918 */
                                                                                      /* 0x000fc00000000000 */
		..........


		Function : probe_imad_wide
	.headerflags	@"EF_CUDA_SM89 EF_CUDA_VIRTUAL_SM(EF_CUDA_SM89)"
        /*0000*/                   MOV R1, c[0x0][0x28] ;                             /* 0x00000a0000017a02 */
                                                                                      /* 0x000fe40000000f00 */
        /*0010*/                   S2R R8, SR_TID.X ;                                 /* 0x0000000000087919 */
                                                                                      /* 0x000e220000002100 */
        /*0020*/                   MOV R5, 0x4 ;                                      /* 0x0000000400057802 */
                                                                                      /* 0x000fe20000000f00 */
        /*0030*/                   ULDC.64 UR4, c[0x0][0x118] ;                       /* 0x0000460000047ab9 */
                                                                                      /* 0x000fc80000000a00 */
        /*0040*/                   IMAD.WIDE R2, R8, R5, c[0x0][0x168] ;              /* 0x00005a0008027625 */
                                                                                      /* 0x001fc800078e0205 */
        /*0050*/                   IMAD.WIDE R4, R8, R5, c[0x0][0x170] ;              /* 0x00005c0008047625 */
                                                                                      /* 0x000fe200078e0205 */
        /*0060*/                   LDG.E R6, [R2.64] ;                                /* 0x0000000402067981 */
                                                                                      /* 0x000ea8000c1e1900 */
        /*0070*/                   LDG.E R7, [R4.64] ;                                /* 0x0000000404077981 */
                                                                                      /* 0x000ea8000c1e1900 */
        /*0080*/                   LDG.E R11, [R2.64+0x80] ;                          /* 0x00008004020b7981 */
                                                                                      /* 0x000ee8000c1e1900 */
        /*0090*/                   LDG.E R0, [R4.64+0x80] ;                           /* 0x0000800404007981 */
                                                                                      /* 0x000ee2000c1e1900 */
        /*00a0*/                   MOV R9, 0x8 ;                                      /* 0x0000000800097802 */
                                                                                      /* 0x000fca0000000f00 */
        /*00b0*/                   IMAD.WIDE R8, R8, R9, c[0x0][0x160] ;              /* 0x0000580008087625 */
                                                                                      /* 0x000fc800078e0209 */
        /*00c0*/                   IMAD.WIDE R6, R7, R6, RZ ;                         /* 0x0000000607067225 */
                                                                                      /* 0x004fcc00078e02ff */
        /*00d0*/                   IMAD.WIDE R6, R11, R0, R6 ;                        /* 0x000000000b067225 */
                                                                                      /* 0x008fca00078e0206 */
        /*00e0*/                   STG.E.64 [R8.64], R6 ;                             /* 0x0000000608007986 */
                                                                                      /* 0x000fe2000c101b04 */
        /*00f0*/                   EXIT ;                                             /* 0x000000000000794d */
                                                                                      /* 0x000fea0003800000 */
        /*0100*/                   BRA 0x100;                                         /* 0xfffffff000007947 */
                                                                                      /* 0x000fc0000383ffff */
        /*0110*/                   NOP;                                               /* 0x0000000000007918 */
                                                                                      /* 0x000fc00000000000 */
        /*0120*/                   NOP;                                               /* 0x0000000000007918 */
                                                                                      /* 0x000fc00000000000 */
        /*0130*/                   NOP;                                               /* 0x0000000000007918 */
                                                                                      /* 0x000fc00000000000 */
        /*0140*/                   NOP;                                               /* 0x0000000000007918 */
                                                                                      /* 0x000fc00000000000 */
        /*0150*/                   NOP;                                               /* 0x0000000000007918 */
                                                                                      /* 0x000fc00000000000 */
        /*0160*/                   NOP;                                               /* 0x0000000000007918 */
                                                                                      /* 0x000fc00000000000 */
        /*0170*/                   NOP;                                               /* 0x0000000000007918 */
                                                                                      /* 0x000fc00000000000 */
        /*0180*/                   NOP;                                               /* 0x0000000000007918 */
                                                                                      /* 0x000fc00000000000 */
        /*0190*/                   NOP;                                               /* 0x0000000000007918 */
                                                                                      /* 0x000fc00000000000 */
        /*01a0*/                   NOP;                                               /* 0x0000000000007918 */
                                                                                      /* 0x000fc00000000000 */
        /*01b0*/                   NOP;                                               /* 0x0000000000007918 */
                                                                                      /* 0x000fc00000000000 */
        /*01c0*/                   NOP;                                               /* 0x0000000000007918 */
                                                                                      /* 0x000fc00000000000 */
        /*01d0*/                   NOP;                                               /* 0x0000000000007918 */
                                                                                      /* 0x000fc00000000000 */
        /*01e0*/                   NOP;                                               /* 0x0000000000007918 */
                                                                                      /* 0x000fc00000000000 */
        /*01f0*/                   NOP;                                               /* 0x0000000000007918 */
                                                                                      /* 0x000fc00000000000 */
		..........


		Function : probe_lea
	.headerflags	@"EF_CUDA_SM89 EF_CUDA_VIRTUAL_SM(EF_CUDA_SM89)"
        /*0000*/                   MOV R1, c[0x0][0x28] ;                             /* 0x00000a0000017a02 */
                                                                                      /* 0x000fe40000000f00 */
        /*0010*/                   S2R R6, SR_TID.X ;                                 /* 0x0000000000067919 */
                                                                                      /* 0x000e220000002100 */
        /*0020*/                   MOV R9, 0x4 ;                                      /* 0x0000000400097802 */
                                                                                      /* 0x000fe20000000f00 */
        /*0030*/                   ULDC.64 UR4, c[0x0][0x118] ;                       /* 0x0000460000047ab9 */
                                                                                      /* 0x000fe20000000a00 */
        /*0040*/                   IMAD R2, R6, c[0x0][0x170], RZ ;                   /* 0x00005c0006027a24 */
                                                                                      /* 0x001fc800078e02ff */
        /*0050*/                   IMAD.WIDE R2, R2, R9, c[0x0][0x168] ;              /* 0x00005a0002027625 */
                                                                                      /* 0x000fca00078e0209 */
        /*0060*/                   LDG.E R0, [R2.64] ;                                /* 0x0000000402007981 */
                                                                                      /* 0x000ea8000c1e1900 */
        /*0070*/                   LDG.E R5, [R2.64+0x4] ;                            /* 0x0000040402057981 */
                                                                                      /* 0x000ea8000c1e1900 */
        /*0080*/                   LDG.E R4, [R2.64+0x8] ;                            /* 0x0000080402047981 */
                                                                                      /* 0x000ea8000c1e1900 */
        /*0090*/                   LDG.E R7, [R2.64+0xc] ;                            /* 0x00000c0402077981 */
                                                                                      /* 0x000ee2000c1e1900 */
        /*00a0*/                   IADD3 R0, R4, R5, R0 ;                             /* 0x0000000504007210 */
                                                                                      /* 0x004fe20007ffe000 */
        /*00b0*/                   IMAD.WIDE R4, R6, R9, c[0x0][0x160] ;              /* 0x0000580006047625 */
                                                                                      /* 0x000fc600078e0209 */
        /*00c0*/                   IADD3 R7, R0, R7, RZ ;                             /* 0x0000000700077210 */
                                                                                      /* 0x008fca0007ffe0ff */
        /*00d0*/                   STG.E [R4.64], R7 ;                                /* 0x0000000704007986 */
                                                                                      /* 0x000fe2000c101904 */
        /*00e0*/                   EXIT ;                                             /* 0x000000000000794d */
                                                                                      /* 0x000fea0003800000 */
        /*00f0*/                   BRA 0xf0;                                          /* 0xfffffff000007947 */
                                                                                      /* 0x000fc0000383ffff */
        /*0100*/                   NOP;                                               /* 0x0000000000007918 */
                                                                                      /* 0x000fc00000000000 */
        /*0110*/                   NOP;                                               /* 0x0000000000007918 */
                                                                                      /* 0x000fc00000000000 */
        /*0120*/                   NOP;                                               /* 0x0000000000007918 */
                                                                                      /* 0x000fc00000000000 */
        /*0130*/                   NOP;                                               /* 0x0000000000007918 */
                                                                                      /* 0x000fc00000000000 */
        /*0140*/                   NOP;                                               /* 0x0000000000007918 */
                                                                                      /* 0x000fc00000000000 */
        /*0150*/                   NOP;                                               /* 0x0000000000007918 */
                                                                                      /* 0x000fc00000000000 */
        /*0160*/                   NOP;                                               /* 0x0000000000007918 */
                                                                                      /* 0x000fc00000000000 */
        /*0170*/                   NOP;                                               /* 0x0000000000007918 */
                                                                                      /* 0x000fc00000000000 */
		..........


		Function : probe_isetp
	.headerflags	@"EF_CUDA_SM89 EF_CUDA_VIRTUAL_SM(EF_CUDA_SM89)"
        /*0000*/                   IMAD.MOV.U32 R1, RZ, RZ, c[0x0][0x28] ;            /* 0x00000a00ff017624 */
                                                                                      /* 0x000fe400078e00ff */
        /*0010*/                   S2R R7, SR_TID.X ;                                 /* 0x0000000000077919 */
                                                                                      /* 0x000e220000002100 */
        /*0020*/                   IMAD.MOV.U32 R8, RZ, RZ, 0x4 ;                     /* 0x00000004ff087424 */
                                                                                      /* 0x000fe200078e00ff */
        /*0030*/                   ULDC.64 UR4, c[0x0][0x118] ;                       /* 0x0000460000047ab9 */
                                                                                      /* 0x000fc60000000a00 */
        /*0040*/                   IMAD.WIDE R2, R7, R8, c[0x0][0x168] ;              /* 0x00005a0007027625 */
                                                                                      /* 0x001fc800078e0208 */
        /*0050*/                   IMAD.WIDE R4, R7, R8, c[0x0][0x170] ;              /* 0x00005c0007047625 */
                                                                                      /* 0x000fe400078e0208 */
        /*0060*/                   LDG.E R2, [R2.64] ;                                /* 0x0000000402027981 */
                                                                                      /* 0x000ea8000c1e1900 */
        /*0070*/                   LDG.E R5, [R4.64] ;                                /* 0x0000000404057981 */
                                                                                      /* 0x000ea2000c1e1900 */
        /*0080*/                   IMAD.MOV.U32 R6, RZ, RZ, 0x2 ;                     /* 0x00000002ff067424 */
                                                                                      /* 0x000fe200078e00ff */
        /*0090*/                   ISETP.GE.AND P0, PT, R2.reuse, R5.reuse, PT ;      /* 0x000000050200720c */
                                                                                      /* 0x0c4fe40003f06270 */
        /*00a0*/                   ISETP.GT.AND P1, PT, R2, R5, PT ;                  /* 0x000000050200720c */
                                                                                      /* 0x000fc40003f24270 */
        /*00b0*/                   SEL R0, RZ, 0x1, !P0 ;                             /* 0x00000001ff007807 */
                                                                                      /* 0x000fe40004000000 */
        /*00c0*/                   ISETP.GE.AND P2, PT, R2.reuse, R5.reuse, PT ;      /* 0x000000050200720c */
                                                                                      /* 0x0c0fe40003f46270 */
        /*00d0*/                   ISETP.GE.U32.AND P3, PT, R2, R5, PT ;              /* 0x000000050200720c */
                                                                                      /* 0x000fca0003f66070 */
        /*00e0*/              @!P0 IMAD.MOV R6, RZ, RZ, 0x1 ;                         /* 0x00000001ff068424 */
                                                                                      /* 0x000fe200078e02ff */
        /*00f0*/                   ISETP.NE.AND P0, PT, R2.reuse, R5.reuse, PT ;      /* 0x000000050200720c */
                                                                                      /* 0x0c0fe20003f05270 */
        /*0100*/               @P1 IMAD.MOV R6, RZ, RZ, R0 ;                          /* 0x000000ffff061224 */
                                                                                      /* 0x000fe200078e0200 */
        /*0110*/                   ISETP.NE.AND P1, PT, R2, R5, PT ;                  /* 0x000000050200720c */
                                                                                      /* 0x000fc80003f25270 */
        /*0120*/                   IADD3 R0, R6, 0x1, RZ ;                            /* 0x0000000106007810 */
                                                                                      /* 0x000fce0007ffe0ff */
        /*0130*/               @P0 IMAD.MOV R0, RZ, RZ, R6 ;                          /* 0x000000ffff000224 */
                                                                                      /* 0x000fe200078e0206 */
        /*0140*/                   ISETP.GT.U32.AND P0, PT, R2, R5, PT ;              /* 0x000000050200720c */
                                                                                      /* 0x000fc80003f04070 */
        /*0150*/                   IADD3 R3, R0, 0x1, RZ ;                            /* 0x0000000100037810 */
                                                                                      /* 0x000fe20007ffe0ff */
        /*0160*/              @!P1 IMAD.MOV R3, RZ, RZ, R0 ;                          /* 0x000000ffff039224 */
                                                                                      /* 0x000fe200078e0200 */
        /*0170*/                   ISETP.GT.AND P1, PT, R2, R5, PT ;                  /* 0x000000050200720c */
                                                                                      /* 0x000fe20003f24270 */
        /*0180*/                   IMAD.MOV.U32 R2, RZ, RZ, 0x1 ;                     /* 0x00000001ff027424 */
                                                                                      /* 0x000fc600078e00ff */
        /*0190*/                   IADD3 R4, R3, 0x1, RZ ;                            /* 0x0000000103047810 */
                                                                                      /* 0x000fe40007ffe0ff */
        /*01a0*/                   SEL R0, RZ, 0x1, !P1 ;                             /* 0x00000001ff007807 */
                                                                                      /* 0x000fe20004800000 */
        /*01b0*/              @!P0 IMAD.MOV R4, RZ, RZ, R3 ;                          /* 0x000000ffff048224 */
                                                                                      /* 0x000fe200078e0203 */
        /*01c0*/              @!P2 SEL R0, R2, 0x2, !P1 ;                             /* 0x000000020200a807 */
                                                                                      /* 0x000fe20004800000 */
        /*01d0*/                   IMAD.WIDE R2, R7, R8, c[0x0][0x160] ;              /* 0x0000580007027625 */
                                                                                      /* 0x000fc600078e0208 */
        /*01e0*/                   IADD3 R5, R4, 0x1, RZ ;                            /* 0x0000000104057810 */
                                                                                      /* 0x000fe20007ffe0ff */
        /*01f0*/               @P3 IMAD.MOV R5, RZ, RZ, R4 ;                          /* 0x000000ffff053224 */
                                                                                      /* 0x000fc800078e0204 */
        /*0200*/                   IMAD.IADD R5, R0, 0x1, R5 ;                        /* 0x0000000100057824 */
                                                                                      /* 0x000fca00078e0205 */
        /*0210*/                   STG.E [R2.64], R5 ;                                /* 0x0000000502007986 */
                                                                                      /* 0x000fe2000c101904 */
        /*0220*/                   EXIT ;                                             /* 0x000000000000794d */
                                                                                      /* 0x000fea0003800000 */
        /*0230*/                   BRA 0x230;                                         /* 0xfffffff000007947 */
                                                                                      /* 0x000fc0000383ffff */
        /*0240*/                   NOP;                                               /* 0x0000000000007918 */
                                                                                      /* 0x000fc00000000000 */
        /*0250*/                   NOP;                                               /* 0x0000000000007918 */
                                                                                      /* 0x000fc00000000000 */
        /*0260*/                   NOP;                                               /* 0x0000000000007918 */
                                                                                      /* 0x000fc00000000000 */
        /*0270*/                   NOP;                                               /* 0x0000000000007918 */
                                                                                      /* 0x000fc00000000000 */
        /*0280*/                   NOP;                                               /* 0x0000000000007918 */
                                                                                      /* 0x000fc00000000000 */
        /*0290*/                   NOP;                                               /* 0x0000000000007918 */
                                                                                      /* 0x000fc00000000000 */
        /*02a0*/                   NOP;                                               /* 0x0000000000007918 */
                                                                                      /* 0x000fc00000000000 */
        /*02b0*/                   NOP;                                               /* 0x0000000000007918 */
                                                                                      /* 0x000fc00000000000 */
        /*02c0*/                   NOP;                                               /* 0x0000000000007918 */
                                                                                      /* 0x000fc00000000000 */
        /*02d0*/                   NOP;                                               /* 0x0000000000007918 */
                                                                                      /* 0x000fc00000000000 */
        /*02e0*/                   NOP;                                               /* 0x0000000000007918 */
                                                                                      /* 0x000fc00000000000 */
        /*02f0*/                   NOP;                                               /* 0x0000000000007918 */
                                                                                      /* 0x000fc00000000000 */
		..........


		Function : probe_imad
	.headerflags	@"EF_CUDA_SM89 EF_CUDA_VIRTUAL_SM(EF_CUDA_SM89)"
        /*0000*/                   MOV R1, c[0x0][0x28] ;                             /* 0x00000a0000017a02 */
                                                                                      /* 0x000fe40000000f00 */
        /*0010*/                   S2R R8, SR_TID.X ;                                 /* 0x0000000000087919 */
                                                                                      /* 0x000e220000002100 */
        /*0020*/                   MOV R9, 0x4 ;                                      /* 0x0000000400097802 */
                                                                                      /* 0x000fe20000000f00 */
        /*0030*/                   ULDC.64 UR4, c[0x0][0x118] ;                       /* 0x0000460000047ab9 */
                                                                                      /* 0x000fc80000000a00 */
        /*0040*/                   IMAD.WIDE R2, R8, R9, c[0x0][0x168] ;              /* 0x00005a0008027625 */
                                                                                      /* 0x001fc800078e0209 */
        /*0050*/                   IMAD.WIDE R4, R8.reuse, R9.reuse, c[0x0][0x170] ;  /* 0x00005c0008047625 */
                                                                                      /* 0x0c0fe400078e0209 */
        /*0060*/                   LDG.E R2, [R2.64] ;                                /* 0x0000000402027981 */
                                                                                      /* 0x000ea4000c1e1900 */
        /*0070*/                   IMAD.WIDE R6, R8, R9, c[0x0][0x178] ;              /* 0x00005e0008067625 */
                                                                                      /* 0x000fe400078e0209 */
        /*0080*/                   LDG.E R5, [R4.64] ;                                /* 0x0000000404057981 */
                                                                                      /* 0x000ea8000c1e1900 */
        /*0090*/                   LDG.E R6, [R6.64] ;                                /* 0x0000000406067981 */
                                                                                      /* 0x000ea4000c1e1900 */
        /*00a0*/                   IMAD R0, R2, R5, R6 ;                              /* 0x0000000502007224 */
                                                                                      /* 0x004fc800078e0206 */
        /*00b0*/                   IMAD R0, R5, R0, R6 ;                              /* 0x0000000005007224 */
                                                                                      /* 0x000fc800078e0206 */
        /*00c0*/                   IMAD R0, R5, R0, R6 ;                              /* 0x0000000005007224 */
                                                                                      /* 0x000fc800078e0206 */
        /*00d0*/                   IMAD R0, R5, R0, R6 ;                              /* 0x0000000005007224 */
                                                                                      /* 0x000fc800078e0206 */
        /*00e0*/                   IMAD R0, R5, R0, R6 ;                              /* 0x0000000005007224 */
                                                                                      /* 0x000fc800078e0206 */
        /*00f0*/                   IMAD R0, R5, R0, R6 ;                              /* 0x0000000005007224 */
                                                                                      /* 0x000fc800078e0206 */
        /*0100*/                   IMAD R0, R5, R0, R6 ;                              /* 0x0000000005007224 */
                                                                                      /* 0x000fc800078e0206 */
        /*0110*/                   IMAD R0, R5, R0, R6 ;                              /* 0x0000000005007224 */
                                                                                      /* 0x000fc800078e0206 */
        /*0120*/                   IMAD R0, R5, R0, R6 ;                              /* 0x0000000005007224 */
                                                                                      /* 0x000fc800078e0206 */
        /*0130*/                   IMAD R0, R5, R0, R6 ;                              /* 0x0000000005007224 */
                                                                                      /* 0x000fc800078e0206 */
        /*0140*/                   IMAD R0, R5, R0, R6 ;                              /* 0x0000000005007224 */
                                                                                      /* 0x000fc800078e0206 */
        /*0150*/                   IMAD R0, R5, R0, R6 ;                              /* 0x0000000005007224 */
                                                                                      /* 0x000fc800078e0206 */
        /*0160*/                   IMAD R0, R5, R0, R6 ;                              /* 0x0000000005007224 */
                                                                                      /* 0x000fc800078e0206 */
        /*0170*/                   IMAD R0, R5, R0, R6 ;                              /* 0x0000000005007224 */
                                                                                      /* 0x000fc800078e0206 */
        /*0180*/                   IMAD R0, R5, R0, R6 ;                              /* 0x0000000005007224 */
                                                                                      /* 0x000fe400078e0206 */
        /*0190*/                   IMAD.WIDE R2, R8, R9, c[0x0][0x160] ;              /* 0x0000580008027625 */
                                                                                      /* 0x000fc800078e0209 */
        /*01a0*/                   IMAD R5, R5, R0, R6 ;                              /* 0x0000000005057224 */
                                                                                      /* 0x000fca00078e0206 */
        /*01b0*/                   STG.E [R2.64], R5 ;                                /* 0x0000000502007986 */
                                                                                      /* 0x000fe2000c101904 */
        /*01c0*/                   EXIT ;                                             /* 0x000000000000794d */
                                                                                      /* 0x000fea0003800000 */
        /*01d0*/                   BRA 0x1d0;                                         /* 0xfffffff000007947 */
                                                                                      /* 0x000fc0000383ffff */
        /*01e0*/                   NOP;                                               /* 0x0000000000007918 */
                                                                                      /* 0x000fc00000000000 */
        /*01f0*/                   NOP;                                               /* 0x0000000000007918 */
                                                                                      /* 0x000fc00000000000 */
        /*0200*/                   NOP;                                               /* 0x0000000000007918 */
                                                                                      /* 0x000fc00000000000 */
        /*0210*/                   NOP;                                               /* 0x0000000000007918 */
                                                                                      /* 0x000fc00000000000 */
        /*0220*/                   NOP;                                               /* 0x0000000000007918 */
                                                                                      /* 0x000fc00000000000 */
        /*0230*/                   NOP;                                               /* 0x0000000000007918 */
                                                                                      /* 0x000fc00000000000 */
        /*0240*/                   NOP;                                               /* 0x0000000000007918 */
                                                                                      /* 0x000fc00000000000 */
        /*0250*/                   NOP;                                               /* 0x0000000000007918 */
                                                                                      /* 0x000fc00000000000 */
        /*0260*/                   NOP;                                               /* 0x0000000000007918 */
                                                                                      /* 0x000fc00000000000 */
        /*0270*/                   NOP;                                               /* 0x0000000000007918 */
                                                                                      /* 0x000fc00000000000 */
		..........


		Function : probe_iadd3
	.headerflags	@"EF_CUDA_SM89 EF_CUDA_VIRTUAL_SM(EF_CUDA_SM89)"
        /*0000*/                   MOV R1, c[0x0][0x28] ;                             /* 0x00000a0000017a02 */
                                                                                      /* 0x000fe40000000f00 */
        /*0010*/                   S2R R8, SR_TID.X ;                                 /* 0x0000000000087919 */
                                                                                      /* 0x000e220000002100 */
        /*0020*/                   MOV R9, 0x4 ;                                      /* 0x0000000400097802 */
                                                                                      /* 0x000fe20000000f00 */
        /*0030*/                   ULDC.64 UR4, c[0x0][0x118] ;                       /* 0x0000460000047ab9 */
                                                                                      /* 0x000fc80000000a00 */
        /*0040*/                   IMAD.WIDE R4, R8, R9, c[0x0][0x170] ;              /* 0x00005c0008047625 */
                                                                                      /* 0x001fc800078e0209 */
        /*0050*/                   IMAD.WIDE R6, R8.reuse, R9.reuse, c[0x0][0x178] ;  /* 0x00005e0008067625 */
                                                                                      /* 0x0c0fe400078e0209 */
        /*0060*/                   LDG.E R4, [R4.64] ;                                /* 0x0000000404047981 */
                                                                                      /* 0x000ea4000c1e1900 */
        /*0070*/                   IMAD.WIDE R2, R8.reuse, R9.reuse, c[0x0][0x168] ;  /* 0x00005a0008027625 */
                                                                                      /* 0x0c0fe400078e0209 */
        /*0080*/                   LDG.E R7, [R6.64] ;                                /* 0x0000000406077981 */
                                                                                      /* 0x000ea8000c1e1900 */
        /*0090*/                   LDG.E R2, [R2.64] ;                                /* 0x0000000402027981 */
                                                                                      /* 0x000ee2000c1e1900 */
        /*00a0*/                   IMAD.WIDE R8, R8, R9, c[0x0][0x160] ;              /* 0x0000580008087625 */
                                                                                      /* 0x000fe200078e0209 */
        /*00b0*/                   IADD3 R11, R4, R7, RZ ;                            /* 0x00000007040b7210 */
                                                                                      /* 0x004fc80007ffe0ff */
        /*00c0*/                   LEA R11, R11, R2, 0x4 ;                            /* 0x000000020b0b7211 */
                                                                                      /* 0x008fca00078e20ff */
        /*00d0*/                   STG.E [R8.64], R11 ;                               /* 0x0000000b08007986 */
                                                                                      /* 0x000fe2000c101904 */
        /*00e0*/                   EXIT ;                                             /* 0x000000000000794d */
                                                                                      /* 0x000fea0003800000 */
        /*00f0*/                   BRA 0xf0;                                          /* 0xfffffff000007947 */
                                                                                      /* 0x000fc0000383ffff */
        /*0100*/                   NOP;                                               /* 0x0000000000007918 */
                                                                                      /* 0x000fc00000000000 */
        /*0110*/                   NOP;                                               /* 0x0000000000007918 */
                                                                                      /* 0x000fc00000000000 */
        /*0120*/                   NOP;                                               /* 0x0000000000007918 */
                                                                                      /* 0x000fc00000000000 */
        /*0130*/                   NOP;                                               /* 0x0000000000007918 */
                                                                                      /* 0x000fc00000000000 */
        /*0140*/                   NOP;                                               /* 0x0000000000007918 */
                                                                                      /* 0x000fc00000000000 */
        /*0150*/                   NOP;                                               /* 0x0000000000007918 */
                                                                                      /* 0x000fc00000000000 */
        /*0160*/                   NOP;                                               /* 0x0000000000007918 */
                                                                                      /* 0x000fc00000000000 */
        /*0170*/                   NOP;                                               /* 0x0000000000007918 */
                                                                                      /* 0x000fc00000000000 */
		..........


